[2020-09-25 13:15] aayushi-droid opened #1 "Edabit solution repository, Create more issue for problem task"
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py

- [ ]  In file there should be problem statement and link to probelm
    example -
[code]

This repository is vaild for HacktoberFest2020
Good Luck,

[2020-09-25 13:33] aayushi-droid opened #2 "Quadratic Equation in Cpp"
Before jumping into Pr first comment for assign.

**Problem statement:**: Create a function to find only the root value of `x` in any quadratic equation `ax^2 + bx + c`. The function will take three arguments.

Link: https://edabit.com/challenge/nasKYub6qEAfQcFuy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py

[2020-09-25 13:35] aayushi-droid opened #3 "Recursion: Reverse a String in Cpp"
Before jumping into Pr first comment for assign.

**Problem statement:**: Write a function that reverses a string. Make your function recursive.
Link: https://edabit.com/challenge/HXGx9oXukEgsFK6PH

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py

- [ ]  In file there should be problem statement and link to pro

[2020-09-25 13:38] aayushi-droid opened #4 "Find the Odd Integer in Cpp"
Before jumping into Pr first comment for assign.

**Problem statement:** Create a function that takes an array and finds the integer which appears an odd number of times.
Link: https://edabit.com/challenge/wgnmQTbfssuhvZHqe

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py

- [x]  In file there should be problem

[2020-09-25 13:45] gourav-j commented on #4
I would like to pick it up. Can you assign this to me?

[2020-09-25 13:47] subramanian0 commented on #3
Can I work on this as part of hacktoberfest?

[2020-09-25 13:47] DaniAcu commented on #3
Could I pick this?

[2020-09-25 13:48] alocaputo commented on #2
I'd like to do it

[2020-09-25 13:48] subramanian0 commented on #2
can i work on this?

[2020-09-25 13:49] subramanian0 commented on #1
can i work on this?

[2020-09-25 14:19] DaniAcu commented on #3
Could I pick this?

[2020-09-25 14:34] jayanthjj commented on #2
**If not yet assigned would love to work.**

[2020-09-25 14:54] aayushi-droid commented on #2
@alphaxyz assigned, comment priority.
I hope you read all the requirements. Make you PR between 1 Oct - 31 Oct for Vaild HacktoberFest PR.

@subramanian0 & @jayanthj737 guys please create an new issue using template.
Find the probelm task on Edabit.

[2020-09-25 14:57] aayushi-droid commented on #3
@subramanian0 assigned based on priority comment.

@DaniAcu you can make a new issue for new proble. Find problem from Edabit.com

[2020-09-25 15:07] aayushi-droid commented on #1
ya sure @subramanian0 assigned, Take care of all suggestions before making PR

[2020-09-25 15:08] aayushi-droid commented on #4
@gourav-j assigned, Take care of all guidelines.
Best of Luck

[2020-09-25 15:10] aayushi-droid commented on #1
@subramanian0 Everyone can work on this issue

**Problem Task** - You have to make issues in repo using issue template.
find issue on https:://edabit.com

[2020-09-25 15:13] aayushi-droid opened #5 "Letters Shared Between Two Words"
Before jumping into Pr first comment for assign.

**Problem statement:** Create a function that returns the number of characters shared between two words.
**Probelm Link:** https://edabit.com/challenge/qeCS48GXtK9NJLc9C
[code]
---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Choose label for Problem , exa

[2020-09-25 15:14] jayanthj737 opened #6 "Find the Smallest and Biggest Numbers"
Before jumping into Pr first comment for assign.

**Problem statement: Create a function that takes an array of numbers and return both the minimum and maximum numbers, in that order.**
**Probelm Link: https://edabit.com/challenge/N5P6d6CipYyDg9w2M**

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choos

[2020-09-25 15:15] jayanthjj commented on #6
@aayushi-droid can I work on this?

[2020-09-25 15:15] aayushi-droid opened #7 "Minimum Removals to Make Two Strings Anagrams"
Before jumping into Pr first comment for assign.

**Problem statement:** Create a function that returns the smallest number of letter removals so that two strings are anagrams of each other.
**Probelm Link:** https://edabit.com/challenge/NBi75bkHrhTTxmxST

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]

[2020-09-25 15:16] aayushi-droid commented on #6
@jayanthj737 ya Go ahead.

Best of Luck

[2020-09-25 15:19] aayushi-droid opened #8 "Repeating Cycle"
Before jumping into Pr first comment for assign.

**Problem statement:** Below is an example of a repeating cycle.
[code]
**Check Link for Full Question**
**Probelm Link:** https://edabit.com/challenge/q8aKKcukixHhcH7n4

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , example-

[2020-09-25 15:20] aayushi-droid opened #9 "Mystery Challenge in Cpp"
Before jumping into Pr first comment for assign.

**Problem statement:** Write a function that takes an integer n and turns it into the ouput. No further instructions.
**Probelm Link:** https://edabit.com/challenge/RRX73DEm2BLp8z2TG

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Proble

[2020-09-25 15:21] aayushi-droid opened #10 "Reverse Coding Challenge in Cpp"
Before jumping into Pr first comment for assign.

**Problem statement:** This is a reverse coding challenge. Normally you're given explicit directions with how to create a function. Here, you must generate your own function to satisfy the relationship between the inputs and outputs.

Your task is to create a function that, when fed the inputs below, produce the sample outputs shown.
**Probelm Link

[2020-09-25 15:26] Rubix982 commented on #10
Sure.
Just a question about the problem. Is this asking for a hard-coded implementation to the solution, or is it asking for finding a function that finds out the mathematical relation between the inputs -> outputs?

[2020-09-25 15:31] vamsireddy22 commented on #9
Can I take this?

[2020-09-25 15:32] Rubix982 commented on #10
Nevermind, it's trying to do the latter. Can I have this?

[2020-09-25 15:32] aayushi-droid commented on #10
I didn't get the relation between Input and output for the given problem, So I added here.

[2020-09-25 15:33] aayushi-droid commented on #10
@Rubix982 Assigned,

[2020-09-25 15:34] aayushi-droid commented on #9
@vamsireddy22 Ya sure Go ahead.

[2020-09-25 15:36] vamsireddy22 commented on #8
Can I work on this?

[2020-09-25 15:37] vamsireddy22 commented on #7
Can I work on this?

[2020-09-25 15:38] aayushi-droid commented on #7
assigned @vamsireddy22 ,

Best of Luck,

[2020-09-25 15:39] aayushi-droid commented on #8
@vamsireddy22 assigned,
Best of Luck,

[2020-09-25 15:45] vamsireddy22 opened #11 "Find the GCD of two number ?"
Before jumping into Pr first comment for assign.

**Problem statement:** Find the GCD of two number ?
**Probelm Link:** https://edabit.com/challenge/BzEQsTSmPATbsZJCR

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , example- "good first issue", "easy"
- [ ]  In file there shoul

[2020-09-25 15:46] Rubix982 commented on #10
Thanks, @aayushi-droid , I was just wondering what folder to put my solution in.

[2020-09-25 16:28] harisfi commented on #5
I would like to work on this issue.

[2020-09-25 16:30] aayushi-droid commented on #11
- [ ✔️] Task Assigned

@vamsireddy22

[2020-09-25 16:31] aayushi-droid commented on #5
- [✔️] Task Assigned
@harisfi

[2020-09-25 16:38] jayanthj737 opened #14 "Add up the Numbers from a Single Number"
Before jumping into Pr first comment for assign.

**Create a function that takes a number as an argument. Add up all the numbers from 1 to the number you passed to the function.** :
**https://edabit.com/challenge/XDx6JoaumAimRHgEt** :
**Choose one Cateorgy** - Easy
**question category** : Numbers

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase

[2020-09-25 16:39] jayanthjj commented on #14
@aayushi-droid can I work on this?

[2020-09-25 16:43] aayushi-droid commented on #14
- [ ✔️] Task Assigned @jayanthj737

[2020-09-25 16:51] aayushi-droid commented on #5
- [ ✔️] Task Complete

[2020-09-25 16:51] aayushi-droid commented on #4
- [ ✔️] Task Complete

[2020-09-25 17:26] aayushi-droid opened #15 "Improve documentation"
For a programmer reliable documentation is always a must. The presence of documentation helps keep track of all aspects of an application and it improves on the quality of a software product.

- [x] Improve README.md
- [x] Add CONTRIBUTING.md
- [x] Add HOW_TO_CONTRIBUTE.md

[2020-09-25 17:27] aayushi-droid commented on #15
- [ ✓]  Task Assigned Aayushi Sharma @aayushi-droid

[2020-09-25 18:36] jayanthj737 opened #16 "CPP: Number of Squares in an N * N Grid"
Before jumping into Pr first comment for assign.

**Create a function that calculates the number of different squares in an n * n square grid.** :
**https://edabit.com/challenge/ncqFJAp4bBiGwfBcg** :
**Choose one Category** - Easy
**question category** : Math

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [

[2020-09-25 18:37] jayanthjj commented on #16
@aayushi-droid Can I do this? Also the question is not available to be solved using cpp so should I try python or cpp?

[2020-09-25 18:39] aayushi-droid commented on #16
Do you want to solve it using python then I can transfer this issue to python Repository for Edabit.

[2020-09-25 18:40] jayanthjj commented on #16
I can do it both python and cpp. Maybe get a copy of this question for me in python too?

[2020-09-25 18:41] aayushi-droid commented on #16
You can add in Cpp here.
for Python Check https://github.com/Py-Droid/Python-Thunder/issues

[2020-09-25 18:43] jayanthjj commented on #16
Sure please assign either places.

[2020-09-25 19:01] aayushi-droid opened #17 "Edabit Solution using Python"
Want to Use Python for Edabit Code

Please Consider This Repo :- https://github.com/Py-Droid/Python-Thunder

[2020-09-25 19:15] jayanthj737 opened #18 "Largest Swap"
Before jumping into Pr first comment for assign.

**Function that takes a two-digit number and determines if it's the largest of two possible digit swaps.** :
**Probelm Link** : https://edabit.com/challenge/mQbddasCYNTTzQEgm
**Choose one Cateorgy** - Easy
**question category** : Numbers

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example

[2020-09-25 19:16] jayanthjj commented on #18
@aayushi-droid Please assign

[2020-09-25 19:22] keshav304 commented on #18
Hey @aayushi-droid can you assign me this issue?

[2020-09-25 19:29] jayanthj737 opened #19 "Power Calculator"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes voltage and current and returns the calculated power.
**Probelm Link** : https://edabit.com/challenge/a2D3cva6PKrHyqdXC
**Choose one Cateorgy** - Very Easy
**question category** : Math

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example

[2020-09-25 19:29] jayanthjj commented on #19
Can I work on this?

[2020-09-25 19:31] jayanthj737 opened #20 "Convert Minutes into Seconds"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function that takes an integer minutes and converts it to seconds.
**Probelm Link** : https://edabit.com/challenge/MtNAJmJZ49i5Xf3AW
**Choose one Cateorgy** - Very Easy
**question category** : Math

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- return

[2020-09-25 19:31] jayanthjj commented on #20
Please Assign @aayushi-droid

[2020-09-25 19:34] keshav304 opened #21 "Count Ones in Binary Representation of Integer"
Before jumping into Pr first comment for assign.

Function that Count the amount of ones in the binary representation of an integer. :
Probelm Link : https://edabit.com/challenge/GbyPdqNnp75Wci7Cn
Choose one Cateorgy - Easy
question category : Numbers

---
Before submitting a PR please Check some details.

- [x]  fileName formet should be in camelcase
example- returnTheNextNumber.py

- [x]  Choose

[2020-09-25 19:34] keshav304 commented on #21
hey @aayushi-droid  please assign

[2020-09-25 19:39] aayushi-droid commented on #18
- [✓]  Task assigned
@jayanthj737

[2020-09-25 19:40] aayushi-droid commented on #19
- [✓]  Task assigned
@jayanthj737

[2020-09-25 19:40] aayushi-droid commented on #20
- [✓]  Task assigned
@jayanthj737

[2020-09-25 19:41] aayushi-droid commented on #21
- [✓]  Task assigned
@keshav304

[2020-09-25 19:41] keshav304 opened #22 "Oddly or Evenly Positioned"
Before jumping into Pr first comment for assign.

Function that returns the characters from a list or string r on odd or even positions, depending on the specifier s. :
Probelm Link : https://edabit.com/challenge/KQe5w8AdSLbweW8ck
Choose one Cateorgy - Hard
question category : Numbers, Arrays

---
Before submitting a PR please Check some details.

- [ ]  fileName formet should be in camelcase
exam

[2020-09-25 19:42] keshav304 commented on #22
Hey @aayushi-droid please assign

[2020-09-25 19:47] aayushi-droid commented on #22
- [✓]  Task assigned
@keshav304

[2020-09-25 19:47] keshav304 opened #23 "Words With Duplicate Letters"
Before jumping into Pr first comment for assign.

Problem statement : Given a common phrase, return False if any individual word in the phrase contains duplicate letters. Return True otherwise.
Probelm Link : https://edabit.com/challenge/WS6hR6b9EZzuDTD26
Choose one Cateorgy - Hard
question category : Strings

---
Before submitting a PR please Check some details.

- [ ]  fileName formet should be

[2020-09-25 19:51] keshav304 opened #24 "Filter Primes from a List"
Before jumping into Pr first comment for assign.

Problem statement : Write a function that takes a list and returns a new list containing only prime numbers.
Probelm Link : https://edabit.com/challenge/yXZhG7zq6dWhWhirt
Choose one Cateorgy - Hard
question category : Numbers

---
Before submitting a PR please Check some details.

- [ ]  fileName formet should be in camelcase
example- returnTheNext

[2020-09-25 19:51] keshav304 commented on #23
Hey @aayushi-droid please assign

[2020-09-25 19:51] keshav304 commented on #24
Hey @aayushi-droid please assign

[2020-09-25 19:52] jayanthjj commented on #18
@aayushi-droid Please check #25

[2020-09-25 19:52] aayushi-droid commented on #24
please Don't modify the template. you removed checkbox by mistake

[2020-09-25 19:52] aayushi-droid commented on #24
- [x] Task Assigned

[2020-09-25 19:55] aayushi-droid commented on #23
- [x] task assigned

[2020-09-25 19:55] Jayshah6699 commented on #20
[code]
`Is it the task?`

[2020-09-25 19:59] Jayshah6699 commented on #24
Hey @aayushi-droid kindly assign

[2020-09-25 20:03] aayushi-droid commented on #20
@Jayshah6699
no it was sample program to show how `ProblemStatement` and `ProblemLink` will be add in a program.

- you have to clone the repo and find the task and assign yourself.
-  You have to make a PR after creating program

But this task is already assigned.

[2020-09-25 20:04] aayushi-droid commented on #24
@Jayshah6699 Task is already assigned. I will add more program tomorrow. So  I will you assign there.

Keep an eye out.

[2020-09-25 20:06] Jayshah6699 commented on #20
Will, it counted in hacktober fest?

[2020-09-25 20:08] aayushi-droid commented on #20
yes, But you have to make PR between 1 October to 31 October.
@Jayshah6699

[2020-09-25 20:13] Jayshah6699 commented on #20
Is c++ mandatory or I can write in python?

[2020-09-26 01:35] ThePsyk3y opened #27 "Pi to N Decimal Places"
Before jumping into Pr first comment for assign.

**Problem statement** : Given a number n, write a function that returns PI to n decimal places.
**Probelm Link** : https://edabit.com/challenge/wzPBMkanx2Db8Kpmp
**Choose one Cateorgy** - Medium
**question category** : numbers

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnThe

[2020-09-26 01:36] ThePsyk3y commented on #27
@aayushi-droid, can you assign this to me?

[2020-09-26 02:30] aayushi-droid commented on #20
@jayanthj737  For Python Please Refer this Repository https://github.com/Py-Droid/Python-Thunder/

[2020-09-26 02:31] aayushi-droid commented on #27
- [x]  Task assigned
Go Ahead
@ThePsyk3y

[2020-09-26 02:38] aayushi-droid commented on #18
- [x]  Task Complete

[2020-09-26 04:32] aayushi-droid opened #31 "Profitable Gamble"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes three arguments prob, prize, pay and returns true if prob * prize > pay; otherwise return false.
**Probelm Link** :  https://edabit.com/challenge/KWHHhfYMDEEvASK6G
**Choose one Cateorgy** - Easy
**question category** : Conditions, Math, Validation

---
Before submitting a PR please Check some det

[2020-09-26 04:32] aayushi-droid commented on #31
- [x] Task assigned to self @aayushi-droid

[2020-09-26 04:36] aayushi-droid commented on #21
- [x] Task Completed

[2020-09-26 04:41] keshav304 opened #32 "Sort by String Length"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns an array of strings sorted by length in ascending order.
**Probelm Link** : https://edabit.com/challenge/LDNzJS27GY7aWNcBv
**Choose one Cateorgy** - Medium
**question category** : Strings

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    ex

[2020-09-26 04:41] keshav304 commented on #32
hey @aayushi-droid please assign

[2020-09-26 04:42] aayushi-droid commented on #32
Your Issue format is wrong, you deleted the task button by mistakes.
create an issue, Choose template and fill details, You don't need to write whole template again,

[2020-09-26 04:46] aayushi-droid commented on #32
- [x] Task Assigned

[2020-09-26 04:54] PoojaPatel21 commented on #23
@keshav304  Can I code this in python?

[2020-09-26 04:55] PoojaPatel21 commented on #22
Hey, @keshav304 can I code this in python, and if so can you assign this to me?

[2020-09-26 04:55] aayushi-droid commented on #23
Thanks, @PoojaPatel21
For python Check Repo --  https://github.com/Py-Droid/Python-Thunder/ and create issue with details.

[2020-09-26 04:56] aayushi-droid commented on #22
Thanks, @PoojaPatel21
For python Check Repo -- https://github.com/Py-Droid/Python-Thunder/ and create issue with details.

[2020-09-26 05:26] aayushi-droid opened #35 "Slice of Pie"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that determines whether or not it's possible to split a pie fairly given these three parameters:

- Total number of slices.
- Number of recipients.
- How many slices each person gets.

**Probelm Link** : https://edabit.com/challenge/zzv5CPD26cfv4pEQX
**Choose one Cateorgy** - Very Easy
**question category**

[2020-09-26 05:27] aayushi-droid opened #36 "Name Greeting!"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a name and returns a greeting in the form of a string.
**Probelm Link** : https://edabit.com/challenge/MtG39AgXhyeePSiY2
**Choose one Cateorgy** - Very Easy
**question category** : formatting, string

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelc

[2020-09-26 05:28] aayushi-droid opened #37 "Return the Last Element in an Array"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that accepts an array of numbers and returns the last number in the array.
**Probelm Link** : https://edabit.com/challenge/4GZcWTiv2GPA9NfcP
**Choose one Cateorgy** - Very Easy
**question category** : Array

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase

[2020-09-26 05:30] aayushi-droid opened #38 "Roll the Dice"
Before jumping into Pr first comment for assign.

**Problem statement** : Roll the Dice
**Probelm Link** : https://edabit.com/challenge/6ejJ6e7fLdqzGPa3q
**Choose one Cateorgy** -  Expert
**question category** : Math, Numbers

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , exa

[2020-09-26 05:44] Yash-g17 commented on #37
I'd like to contribute to this

[2020-09-26 05:47] aayushi-droid commented on #37
- [x] Assigning Task to @Yash-g17

Go Ahead, Best of Luck

[2020-09-26 05:56] jayanthjj commented on #35
I can work on this! Please Assign. @aayushi-droid

[2020-09-26 05:57] jayanthjj commented on #36
Please assign @aayushi-droid

[2020-09-26 05:57] aayushi-droid commented on #36
- [x] Assigning Task to @jayanthj737

[2020-09-26 05:58] aayushi-droid commented on #35
- [x] Assiging task to @jayanthj737

[2020-09-26 06:18] vivekkj123 commented on #38
I would like to contribute to this... So please assign me...

[2020-09-26 06:20] aayushi-droid commented on #38
- [ ] Task assigning to @vivekkj123

Best of Luck

[2020-09-26 07:37] Jayshah6699 opened #41 "Phone Letter Combination"
Before jumping into Pr first comment for assign.

**Problem statement** :Phone Letter Combination
**Probelm Link** : https://edabit.com/challenge/npLurjMJofmFRCJwx
**Choose one Cateorgy** -  Expert
**question category** : Algorithms, Arrays, logic, Loops

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  C

[2020-09-26 07:41] Jayshah6699 commented on #41
@aayushi-droid Assign the task to me.

[2020-09-26 07:42] aayushi-droid commented on #41
- [x] Assigning Task to @Jayshah6699

[2020-09-26 07:43] Manoj13-coder commented on #41
assign this task to me actually this question can be solved using backtracking.

[2020-09-26 07:50] aayushi-droid commented on #41
@Manoj13-coder
Create a new file with phoneLetterCombination-alternative.cpp in respective folder, Make sure to not touch previous files created by @Jayshah6699

- [x]  Task assigning to @Manoj13-coder for Alternative approch.

Note- Make sure to even origin branch with `upstream master` branch

[2020-09-26 08:53] Manoj13-coder commented on #41
ok thank you

[2020-09-26 09:06] aayushi-droid commented on #15
- [x] Task Complete

[2020-09-26 09:07] aayushi-droid commented on #15
close issue

[2020-09-26 12:16] jayanthjj commented on #36
It's done yeah? @aayushi-droid Close?

[2020-09-26 12:23] aayushi-droid commented on #36
- [x]  Task Complete

[2020-09-26 12:23] #36 closed

[2020-09-26 12:24] #5 closed

[2020-09-26 12:24] #15 closed

[2020-09-26 12:24] #18 closed

[2020-09-26 12:24] #21 closed

[2020-09-26 12:24] #41 closed

[2020-09-26 12:34] aayushi-droid commented on #31
close issue

[2020-09-26 12:34] #31 closed

[2020-09-26 12:35] #4 closed

[2020-09-26 12:49] Manoj13-coder commented on #1
I want to contribute

[2020-09-26 12:51] dolonmandal opened #46 "Area of triangle"
Before jumping into Pr first comment for assign.

**Problem statement** :Area of Triangle
**Probelm Link** : https://edabit.com/challenge/HvYiBXgfPtnDHitym
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.p

[2020-09-26 12:51] Manoj13-coder commented on #1
may i move ahead for this ?

[2020-09-26 12:52] dolonmandal commented on #46
I am participating first time in hacktoberfest. Hence created a new issue. Now should I wait for its assignment?

[2020-09-26 14:41] aniruddha-5 commented on #46
I would like to work on this issue. I am participating for the first time in hacktoberfest.

[2020-09-26 15:03] kratikaatgithub commented on #46
Hi @dolonmandal  can you also assign this issue to me? I would like to work on this as part of hacktoberfest 2020.
Thanks

[2020-09-26 15:09] vivekkj123 commented on #46
Assign this problem to me... I will do my best...

[2020-09-26 15:24] Avn007 commented on #46
Hi @dolonmandal  , I am taking part for the first time in Hacktoberfest and would very much like to work on this issue.

[2020-09-26 15:55] aayushi-droid commented on #46
- [x] Assigning issue to @dolonmandal

Assigning issue based on comment priority.
Please guys make an issue from https://edabit.com or wait for new issues to come.

[2020-09-26 16:08] aniruddha-5 commented on #46
Hey, @aayushi-droid I have already made a pull request, will that be counted?

[2020-09-26 16:09] aayushi-droid commented on #46
@aniruddha-5 , Pull Request between 1 October -31 October will count.

[2020-09-26 16:18] aniruddha-5 commented on #46
Okay. @aayushi-droid Can I generally resolve issues in this repo before that? If anyway I can be of any help please let me know!

[2020-09-26 16:29] aayushi-droid commented on #46
@aniruddha-5 , Yes sure but make an issue and assigned before making any changes. You can join as maintainer for manage issue and Pull request.

[2020-09-27 06:25] Avn007 opened #48 "The Farm Problem"
Before jumping into Pr first comment for assign.

**Problem statement** : In this challenge, a farmer is asking you to tell him how many legs can be counted among all his animals. The farmer breeds three species:
chickens = 2 legs
cows = 4 legs
pigs = 4 legs
The farmer has counted his animals and he gives you a subtotal for each species. You have to implement a function that returns the total numb

[2020-09-27 06:27] Avn007 commented on #48
@aayushi-droid  Hi, can I work on this issue for Hacktoberfest?

[2020-09-27 06:28] aayushi-droid commented on #48
Yes sure,

- [x] Issue assigned to @Avn007

[2020-09-28 20:28] Jayshah6699 opened #49 "Water Jug Problem"
Before jumping into Pr first comment for assign.

**Problem statement** : Given a set of 3 jugs of water that have capacities of a, b, and c liters, find the minimum number of operations performed before each jug has x, y, and z liters. Only jug C will start completely filled.

An operation is any of the following: A jug is emptied, a jug is filled, or water is poured from one jug to another until

[2020-09-28 20:29] Jayshah6699 commented on #49
@aayushi-droid Kindly assign me the task

[2020-09-29 05:56] Mostafa-ashraf19 commented on #49
Hello, can I work on this issue for Hacktoberfest?

[2020-09-29 07:03] Jayshah6699 commented on #49
@Mostafa-ashraf19 Why not? @aayushi-droid assign it to him as soon as possible

[2020-09-30 11:53] vivekkj123 opened #50 "Hex to Binary"
Before jumping into Pr first comment for assign.

**Problem statement** :
Create a function that will take a HEX number and returns the binary equivalent (as a string).
Examples

toBinary(0xFF) ➞ "11111111"

toBinary(0xAA) ➞ "10101010"

toBinary(0xFA) ➞ "11111010"

Notes

The number will be always an 8-bit number.
**Problem Link** : https://edabit.com/challenge/NX5uRSLwuXwsqKfiR
**Choose one Cateo

[2020-09-30 11:54] vivekkj123 commented on #50
@aayushi-droid  Please Assign this issue to me... I will do my best to this.. :),

Thanks,
VIVEK K J,
www.vivekkj.me

[2020-09-30 13:46] Jayshah6699 commented on #49
@aayushi-droid add an expert label too

[2020-09-30 18:57] Mostafa-ashraf19 commented on #49
@Jayshah6699 , @aayushi-droid  I solved the problem, what can I do now, make a PR, or setting a solution here in the comments for review!!!

[2020-09-30 19:16] jayanthjj commented on #14
@aayushi-droid Added addUp #53

[2020-09-30 19:22] vamsireddy22 commented on #11
Hey, hi I have made my pull requests. Kindly got through it and merge them.

Thanks and regards
Vamsi

[2020-09-30 19:25] jayanthjj commented on #6
@aayushi-droid Added minMax #55

[2020-09-30 19:34] jayanthjj commented on #16
@aayushi-droid Added num Squares #57

[2020-09-30 19:42] keshav304 opened #61 "Next Prime"
Before jumping into Pr first comment for assign.

**Problem statement** : Given an integer, create a function that returns the next prime. If the number is prime, return the number itself.
**Probelm Link** : https://edabit.com/challenge/arobBz954ZDxkDC9M
**Choose one Cateorgy** - Hard
**question category** : math, numbers

---
Before submitting a PR please Check some details.

- [ ] fileName forme

[2020-09-30 19:43] jayanthjj commented on #20
@aayushi-droid Added Convert #62

[2020-09-30 19:45] keshav304 opened #63 "Prime Factorization of an Integer"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns a list containing the prime factors of whatever integer is passed to it.
**Probelm Link** : https://edabit.com/challenge/8vBvgJMc2uQJpD6d7
**Choose one Cateorgy** - Very Hard
**question category** :  maths, numbers

---
Before submitting a PR please Check some details.

- [ ] fileName formet sh

[2020-09-30 19:45] keshav304 commented on #61
@aayushi-droid please assign

[2020-09-30 19:46] keshav304 commented on #63
@aayushi-droid please assign

[2020-09-30 19:46] priyansh-jain10 commented on #61
Hey! I would like to give it a shot! Mind assigning it to me?

[2020-09-30 19:48] jayanthjj commented on #19
Added circuitPower #64 @aayushi-droid

[2020-09-30 19:51] keshav304 commented on #61
Hey! @priyansh-jain10 you can choose any problem from [edabit](https://edabit.com/challenges) then create an issue and get it assigned and work on it.

[2020-09-30 20:00] jayanthjj commented on #35
@aayushi-droid Added equalSlices.cpp #65

[2020-09-30 20:28] prajjyadav commented on #63
Hi! @keshav304 can you assign this to me.. i would like to try

[2020-09-30 20:38] Deepak290701 commented on #63
I have submitted the PR can you please check .

[2020-09-30 21:04] Avn007 opened #69 "Is it Time for Milk and Cookies?"
Before jumping into Pr first comment for assign.

**Problem statement** : Christmas Eve is almost upon us, so naturally we need to prepare some milk and cookies for Santa! Create a function that accepts a (year, month, day) of date and returns true if it's Christmas Eve (December 24th) and false otherwise. Keep in mind that month of Date is 0 based, meaning December is the 11th month while January

[2020-09-30 21:04] Avn007 commented on #69
Hey @aayushi-droid , can you assign this to me?

[2020-10-01 02:12] priyalHedau15 commented on #61
hey @keshav304  could you assign this to me .I would like to give solution of this problem

[2020-10-01 03:20] rishabhgarg25699 opened #71 "Longest Palindrome Subsequence"
**Problem statement - Given a string s, find the longest palindromic subsequence's length in s. You may assume that the maximum length of s is 1000.** :
**Problem Link - https://leetcode.com/problems/longest-palindromic-subsequence/** :
**Choose one Cateorgy  - Medium**
**question category** :

[2020-10-01 03:21] rishabhgarg25699 commented on #71
Please assign this issue to me.

[2020-10-01 03:22] priyalHedau15 opened #72 "Factorial of a Non-Negative Integer"
Before jumping into Pr first comment for assign.

Problem statement : Factorial of a Non-Negative Integer
Write a function that takes a non-negative integer and return its factorial.

factorial(4) ➞ 24

factorial(0) ➞ 1

factorial(9) ➞ 362880

Problem Link : https://edabit.com/challenge/M3MZS3RHKZ67fQQBM
Choose one Category - Easy
question category : algorithms, math

---
Before submitting a PR pl

[2020-10-01 03:23] priyalHedau15 commented on #72
hey @aayushi-droid  could I work on this issue for hactorbest

[2020-10-01 03:24] priyalHedau15 commented on #72
hey @aayushi-droid  could I work on this issue for hacktoberfest

[2020-10-01 03:27] kushalbargoti opened #73 "An Ordered Matrix"
Before jumping into Pr first comment for assign.

**Problem statement** : Create an ordered 2D array (matrix). A matrix is ordered if its (0, 0) element is 1, its (0, 1) element is 2, and so on. Your function needs to create an a × b matrix where a is the first argument and b is the second.
**Probelm Link** :  https://edabit.com/challenge/qbpHHZYQrJnNYjtjn
**Choose one Cateorgy** - Medium
**questi

[2020-10-01 03:28] kushalbargoti commented on #73
@aayushi-droid  Please Assign this issue to me :)

[2020-10-01 03:30] Vrindagupta6828 commented on #73
@kushalbargoti  please assign me this

[2020-10-01 03:32] kushalbargoti commented on #73
Hey! @Vrindagupta6828  you can choose any problem from [edabit](https://edabit.com/challenges) then create an issue and get it assigned and work on it.

[2020-10-01 03:42] kushalbargoti opened #74 "Matrix Transpose"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that transposes a 2D matrix.
**Probelm Link** : https://edabit.com/challenge/4KaoDvxaFSmf38bPQ
**Choose one Cateorgy** - Medium
**Question category** : Arrays, Math

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]

[2020-10-01 03:43] kushalbargoti commented on #74
@aayushi-droid  Please Assign this issue to me... I will do my best ..  :)

[2020-10-01 03:53] SangeetaMishra opened #75 "XOR Swap Algorithm"
Before jumping into Pr first comment for assign.

**Problem statement** : Switch 2 variables using the XOR operator
**Probelm Link** :  https://edabit.com/challenge/dHYXiEXydZxrwntBq
**Choose one Cateorgy** - Medium
**question category** : Bit Operations, Language Fundamentals

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTh

[2020-10-01 03:53] SangeetaMishra commented on #75
@aayushi-droid  Please assign this to me

[2020-10-01 03:55] SangeetaMishra opened #76 "Rectangle in Circle"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes three numbers — the width and height of a rectangle, and the radius of a circle and returns if the rectangle can fit inside the circle
**Probelm Link** : https://edabit.com/challenge/PoSkat7FepavXW49T
**Choose one Cateorgy** - Medium
**question category** : Geometry, Math, Validation

---
Before

[2020-10-01 03:57] SangeetaMishra opened #77 "Mini Peaks"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function that returns all the elements in an array that are strictly greater than their adjacent left and right neighbors.
**Probelm Link** :  https://edabit.com/challenge/5KAsvzdc9DLfEx65t
**Choose one Cateorgy** - Medium
**question category** : Arrays, Loops

---
Before submitting a PR please Check some details.

-

[2020-10-01 03:57] SangeetaMishra commented on #77
@aayushi-droid Please assign this to me

[2020-10-01 03:58] SangeetaMishra commented on #76
@aayushi-droid Please assign this to me

[2020-10-01 03:59] ChaoticBlack commented on #72
Yo! I can do this immediately if assigned to me!

[2020-10-01 04:02] ajitg1 opened #78 "Absolute Sum"
Before jumping into Pr first comment for assign.

**Problem statement** : Take an array of integers (positive or negative or both) and return the sum of the absolute value of each element.
**Probelm Link** :  https://edabit.com/challenge/jBFpjEG3tvsjTZbD4
**Choose one Cateorgy** - Easy
**question category** :  arrays, loop, math, number

---
Before submitting a PR please Check some details.

- [ ]

[2020-10-01 04:02] ashishrrs commented on #76
Please assign this to me

[2020-10-01 04:03] ashishrrs commented on #75
Plzz assign this to me

[2020-10-01 04:03] ajitg1 commented on #78
Hey @aayushi-droid, I would like to work on this issue, please assign this to me.

[2020-10-01 04:05] ashishrrs commented on #72
i would love to work on this

[2020-10-01 04:06] Sanskar31 opened #80 "Caesar's Cipher - Edabit"
Before jumping into Pr first comment for assign.

**Problem statement** :
Julius Caesar protected his confidential information by encrypting it using a cipher. Caesar's cipher (check Resources tab for more info) shifts each letter by a number of letters. If the shift takes you past the end of the alphabet, just rotate back to the front of the alphabet. In the case of a rotation by 3, w, x, y and z

[2020-10-01 04:07] Sanskar31 commented on #80
@aayushi-droid please assign this issue to me. I will try my best to solve it.

Regards
Sanskar

[2020-10-01 04:11] ashishrrs commented on #77
I would like to work on this

[2020-10-01 04:15] vedanttttt commented on #78
Please assign it to me

[2020-10-01 04:15] ashishrrs commented on #80
i would love to work on this problem

[2020-10-01 04:16] ashishrrs commented on #73
I would love to work on this project

[2020-10-01 04:17] ghost commented on #78
Assign to me

[2020-10-01 04:18] ashishrrs commented on #61
i would love to work on this

[2020-10-01 04:19] ashishrrs commented on #50
I would love to work on this.

[2020-10-01 04:21] ashishrrs commented on #49
I would love to work on it.Please assign me.

[2020-10-01 04:31] avishkar2001 commented on #78
Please assign me this task

[2020-10-01 04:42] ViivekUV commented on #72
Hey! I'd like to contribute to this issue. Please assign it to me

[2020-10-01 04:51] KhushiGangopadhyay commented on #74
hey! can i work on this issue, i am new to hacktoberfest and would like to start with this

[2020-10-01 04:58] kushalbargoti commented on #74
Hey @KhushiGangopadhyay you can choose another problem from [edabit](https://edabit.com/challenges) then create an issue and get it assigned and work on it.

[2020-10-01 04:59] Jayshah6699 commented on #49
@Mostafa-ashraf19
fork this repo then commit the code in specific folder in given criteria and then you will see pullrequest option there.

[2020-10-01 05:00] KhushiGangopadhyay commented on #74
ok thank you !

[2020-10-01 05:02] Harshit11072000 opened #83 "Return the First element in array."
Before jumping into Pr first comment for assign.

**Problem statement** :Return the First element in array.
**Probelm Link** : https://edabit.com/challenge/QaApgtePE6QrCZ64o
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy, Hacktoberfest

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase

[2020-10-01 05:03] Harshit11072000 commented on #83
Please Assign.

[2020-10-01 05:03] sherwin2000 commented on #83
please give me this issue

[2020-10-01 05:06] amankothari1908 commented on #83
Assign me i can solve with proper comment !!

[2020-10-01 05:12] sidanand67 commented on #83
I am willing to fix this issue.

[2020-10-01 05:12] js0805 commented on #83
Please assign me this one.

[2020-10-01 05:13] sherwin2000 commented on #83
did u assign it to me?

On Thu, Oct 1, 2020 at 10:37 AM freakycoder00 <notifications@github.com>
wrote:

[2020-10-01 05:14] sidanand67 commented on #80
Hello, I can solve this problem keeping in view all the set rules for submission.

[2020-10-01 05:14] js0805 commented on #77
I would love to work over this.

[2020-10-01 05:23] ViivekUV commented on #46
Please assign this issue to me. I'd like to work on this.

[2020-10-01 05:23] ayushkumarmishra commented on #83
I wanted to help you for this one

[2020-10-01 05:32] avishkar2001 commented on #83
Please assign me. I can do within mins

[2020-10-01 05:32] shibrahmachari commented on #71
Please assign this issue to me.

[2020-10-01 05:32] shibrahmachari commented on #77
i would like to contribute to this, please assign?

[2020-10-01 05:33] shibrahmachari commented on #78
please assign

[2020-10-01 05:34] kajal1122 commented on #83
assign this to me

[2020-10-01 05:35] sravyasri2001 commented on #83
Assing it to me please.

[2020-10-01 05:36] dev-abir commented on #69
please assign this to me

[2020-10-01 05:37] sravyasri2001 commented on #35
Assign it to me

[2020-10-01 05:42] sravyasri2001 commented on #37
Assign it to me,I can Do.

[2020-10-01 05:45] sravyasri2001 commented on #61
Assign it to me

[2020-10-01 05:48] Amitdutta7 opened #87 "Less Than 100?"
Before jumping into Pr first comment for assign.

**Problem statement** : Less Than 100?
**Probelm Link** : https://edabit.com/challenge/9MjEpkL7yAjAqiH58
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.p

[2020-10-01 05:48] 0xamitdutta commented on #87
I would like to work on this

[2020-10-01 06:02] devansh-pratap-singh commented on #87
I would like to solve this problem.

[2020-10-01 06:03] Halix267 opened #91 "Power Calculator"
Before jumping into Pr first comment for assign.

**Problem statement** :Power Calculator
**Probelm Link** : https://edabit.com/challenge/wAdE9te55cowBLcPs
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.p

[2020-10-01 06:03] Halix267 commented on #91
I would like to solve this problem .Plzz assign me this issue

[2020-10-01 06:10] div5252 opened #94 "Consecutive numbers"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that determines whether elements in an array can be re-arranged to form a consecutive list of numbers where each number appears exactly once.
**Probelm Link** :  https://edabit.com/challenge/TMxknsmodKM3HDbYt
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

[2020-10-01 06:10] ashishrrs commented on #91
I would like to work over it.

[2020-10-01 06:14] div5252 commented on #94
Assign this question to me

[2020-10-01 06:18] devansh-pratap-singh opened #95 "Area of triangle"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function that takes the base and height of a triangle and return its area.
**Problem Link** : https://edabit.com/challenge/HvYiBXgfPtnDHitym
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : very easy

---
Before submitting a PR please Check some details.

- [ ] fileNa

[2020-10-01 06:19] ghost commented on #95
Please let me work on this!

[2020-10-01 06:19] princekalra commented on #94
i want to contribute on this please assign me problem

[2020-10-01 06:21] sravyasri2001 commented on #78
Please assign

[2020-10-01 06:21] princekalra commented on #63
can u please assign it to me i am happy to contribute in this

[2020-10-01 06:21] Halix267 commented on #91
@ashishrrs  Plzz create your own issue

[2020-10-01 06:22] BalajiG2000 commented on #95
Can you assign this to me @devansh-pratap-singh

[2020-10-01 06:22] div5252 commented on #94
#96

[2020-10-01 06:26] uditascloud commented on #77
please assign it to me. thank you

[2020-10-01 06:36] ashishrrs opened #98 "Letters Shared Between Two Words"
Before jumping into Pr first comment for assign.

Problem statement : Create a function that returns the number of characters shared between two words.
Probelm Link : https://edabit.com/challenge/qeCS48GXtK9NJLc9C
Choose one Cateorgy - Hard
Question category : Arrays,Strings

Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
      example- returnTheNex

[2020-10-01 06:45] hkrobotics commented on #95
i am up for this

[2020-10-01 06:47] viren-vii commented on #72
Assign me

[2020-10-01 06:48] div5252 opened #99 "Split 25"
Before jumping into Pr first comment for assign.

**Problem statement** : About a month ago I stumbled upon an interesting problem — something called the 25 split. In the problem, you had to break up 25 into parts, and, from those parts that add to it, try to create the biggest product.
**Probelm Link** :  https://edabit.com/challenge/PbtMHCLm83NwqSnnS
**Choose one Cateorgy** - Very Easy, Easy, Me

[2020-10-01 06:48] viren-vii commented on #95
Assign this to me

[2020-10-01 06:52] viren-vii commented on #98
Please assign this to me

[2020-10-01 06:54] viren-vii commented on #94
Assign this to me please!

[2020-10-01 06:54] viren-vii commented on #91
Assign this work to me!

[2020-10-01 06:55] Mostafa-ashraf19 commented on #49
@Jayshah6699, can you tell me your feedback please.

[2020-10-01 06:57] Zbillion commented on #91
Please assign this to me

[2020-10-01 07:04] devansh-pratap-singh opened #102 "Less Than or Equal To 0"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a number as its only argument and returns true if it's less than or equal to zero, otherwise return false.
**Problem Link** : https://edabit.com/challenge/7KFAJSSp3pmE8bHhK
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : very easy

---
Before sub

[2020-10-01 07:04] #98 closed

[2020-10-01 07:05] ghost commented on #102
Please let me work on this problem!

[2020-10-01 07:06] Vrindagupta6828 opened #104 "Sum of Cubes"
**Problem statement** :Take an array of integers (positive or negative or both) and return the sum of the absolute value of each element.

**Problem Link** : https://edabit.com/challenge/XdAR3KohR5w7rjrFg

**Choose one Category** - Easy

**question category** : arrays, algebra, geometry, loops, math

**Note** : If given an empty array, return 0.
---
Before submitting a PR please Check some details

[2020-10-01 07:07] Vrindagupta6828 commented on #104
please assign this issue to me

[2020-10-01 07:08] ashishrrs opened #105 "Letters Shared Between Two Words"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that returns the number of characters shared between two words.
**Probelm Link** : https://edabit.com/challenge/qeCS48GXtK9NJLc9C
**Choose one Cateorgy** - Hard
**question category** : arrays , strings

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    ex

[2020-10-01 07:09] Halix267 opened #106 "How Many Days Between Two Dates"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that takes two dates and returns the number of days between the first and second date.
**Probelm Link** : https://edabit.com/challenge/3hdXjfJozQySRC3gE
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Hard

---
Before submitting a PR please Check some detail

[2020-10-01 07:09] Halix267 commented on #106
Can I work on this issue.

[2020-10-01 07:11] jineshparakh commented on #105
Can you please assign this to me!
I want to contribute

[2020-10-01 07:16] viren-vii commented on #106
Can I get this task?

[2020-10-01 07:17] div5252 opened #108 "How many rectangles"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a number steps as an argument and returns the amount of rectangles you can count in a matrix.
**Problem Link** : https://edabit.com/challenge/EePutMiQcitWdEA5s
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Hard

---
Before submitting a PR pleas

[2020-10-01 07:17] div5252 commented on #108
Assign this to me

[2020-10-01 07:22] pranav230 opened #112 "Find the Missing Number"
Before jumping into Pr first comment for assign.

**Problem statement** : Find the Missing Number
**Probelm Link** : https://edabit.com/challenge/7YaJhC4terApw5DFa
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumbe

[2020-10-01 07:22] KhushiGangopadhyay opened #113 "Convert a Number to Base-2"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number.
**Probelm Link** : https://edabit.com/challenge/3kcrnpHk7krNZdnKK
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Easy

---
Before submitting a PR please Check some details.

[2020-10-01 07:23] pranav230 commented on #112
@aayushi-droid  please assign this to me

[2020-10-01 07:23] KhushiGangopadhyay commented on #113
please assign this to me

[2020-10-01 07:28] dev-abir commented on #104
I can do this

[2020-10-01 07:34] devansh-pratap-singh opened #114 "Equality of Three Numbers"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.
**Problem Link** : https://edabit.com/challenge/wujqD4xbL7X5Bzd5e
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : easy

---
Before submitting a PR plea

[2020-10-01 07:35] ghost commented on #114
I would like to work on this problem.

[2020-10-01 07:38] viswa5427 commented on #104
Please assign to this to me

[2020-10-01 07:38] Vrindagupta6828 commented on #104
this will not be considered as you should have asked for assignment of the issue first

[2020-10-01 07:41] Nikhil-1503 commented on #114
Assign this to me

[2020-10-01 07:45] Vrindagupta6828 commented on #104
@viswa5427  please create your own issue

[2020-10-01 07:46] milanj-1 commented on #99
assign this to me

[2020-10-01 07:48] Harshit564 opened #118 "Maximum Edge of a Triangle"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all integers.
**Probelm Link** :  https://edabit.com/challenge/56XXwAkLJGbEccYfn
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please

[2020-10-01 07:48] Harshit564 commented on #118
Please assign this issue to me!

[2020-10-01 07:55] devansh-pratap-singh opened #120 "Solution for Burrrp!"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns the string "Burp" with the amount of "r's" determined by the input parameters of the function.
**Problem Link** : https://edabit.com/challenge/vxpP4nnDhRr2Yc3Lo
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : easy

---
Before submitting a PR pl

[2020-10-01 07:55] ghost commented on #120
I would like to work on this problem!

[2020-10-01 07:58] VaderX commented on #87
can u assign this to me?

[2020-10-01 08:00] meta-crusher commented on #114
can u assign this ques to me?

[2020-10-01 08:07] charchitmangal commented on #118
Hello! I would like to work on this

[2020-10-01 08:10] Harshit564 commented on #118
You have make your own issue and then make a PR.

[2020-10-01 08:11] sohan-naidu commented on #120
Hello! Is it okay if I work on this problem too?

[2020-10-01 08:13] nssk1999 commented on #118
@Harshit564 can you assign the issue to me I just solved it

[2020-10-01 08:19] Harshit564 commented on #118
They will assign after u make your own issue.

[2020-10-01 08:22] shubhampal98 commented on #72
I would like to get assigned to this task.

[2020-10-01 08:23] VaderX commented on #112
Can you assign this to me?

[2020-10-01 08:24] meta-crusher commented on #112
@pranav230 can u assign this to me

[2020-10-01 08:24] meta-crusher commented on #105
@ashishrrs can u assign this to me?

[2020-10-01 08:26] meta-crusher commented on #102
@devansh-pratap-singh can u assign this to me?

[2020-10-01 08:26] meta-crusher commented on #87
@Amitdutta7 can u assign this to me?

[2020-10-01 08:29] mrigankdembla opened #126 "Solution for Eliminate odd numbers from an array"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes an array of numbers and returns only the even values.
**Probelm Link** : https://edabit.com/challenge/7iT6DbY3GsHnLBPq4
**Choose one Cateorgy** - Easy
**question category** : Arrays

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- r

[2020-10-01 08:32] uchihacoder commented on #102
i can help

[2020-10-01 08:36] mrigankdembla commented on #126
I would like to work on this problem.

[2020-10-01 08:37] mrigankdembla commented on #126
#127 added the solution, please review.

[2020-10-01 08:37] nssk1999 opened #128 "Write a function to check Multiple of 100"
### Create a function that takes an integer and return true if it's divisible by 100, otherwise return false.

Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that takes an integer and return true if it's divisible by 100, otherwise return false.
**Probelm Link** : https://edabit.com/challenge/qMr6wYGr6NaXAPQGF
**Choose one Cateorgy** - Very Easy, Easy, M

[2020-10-01 08:40] js0805 commented on #128
please assign this to me.

[2020-10-01 08:41] nssk1999 commented on #128
you need to create your own issue to get it assigned .

[2020-10-01 08:42] chiru-cd opened #129 "Double Character Swap"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function to replace all instances of character c1 with character c2 and vice versa.
**Probelm Link** : https://edabit.com/challenge/s695FkhRd3J65tmdQ
**Choose one Cateorgy** - Medium
**question category** : Strings

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase

[2020-10-01 08:43] chiru-cd commented on #129
I would like to work on this issue. Please assign.

[2020-10-01 08:46] namanb99 commented on #128
Assign this to me

[2020-10-01 08:55] lucifer79gg commented on #61
I have completed this

[2020-10-01 09:01] js0805 opened #131 "Reminder from two numbers"
Before jumping into Pr first comment for assign.

**Problem statement** :Return the Remainder from Two Numbers
**Probelm Link** : https://edabit.com/challenge/bTrM8t39vjrAtYytA
**Choose one Cateorgy** - Very Easy
**question category** : Maths,numbers

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choos

[2020-10-01 09:01] js0805 commented on #131
Please assign me this issue.

[2020-10-01 09:03] Aditi-1400 opened #132 "Stuttering Function"
Before jumping into Pr first comment for assign.

**Problem statement** : ###

**Probelm Link** : [https://edabit.com/challenge/gt9LLufDCMHKMioh2]
**Choose one Cateorgy** -  Easy
**question category** : Algorithms, formatting

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , exa

[2020-10-01 09:04] Aditi-1400 commented on #132
Hey I would Like to work on this issue

[2020-10-01 09:06] mrigankdembla commented on #132
@Aditi-1400  can you please let me know if the labels are getting auto assigned or steps by which we can add it ?

[2020-10-01 09:07] Aditi-1400 commented on #132
They are getting auto assigned.

[2020-10-01 09:12] div5252 opened #134 "Persistent Little Bugger"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a number and returns its multiplicative persistence, which is the number of times you must multiply the digits in num until you reach a single digit.
**Probelm Link** : Persistent Little Bugger
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Hard

[2020-10-01 09:12] div5252 commented on #134
Assign this problem to me

[2020-10-01 09:15] 0xamitdutta commented on #87
Hey, I'm not the owner of the repo. You can ask to get assigned if you create a new issue of your own I guess. There are plenty of problem statements on the Edabit platform.

[2020-10-01 09:20] nssk1999 opened #136 "Name Greeting! in cpp"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a name and returns a greeting in the form of a string.
**Probelm Link** : https://edabit.com/challenge/MtG39AgXhyeePSiY2
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please Check some details.

- [x] fileN

[2020-10-01 09:21] meta-crusher commented on #87
ok

[2020-10-01 09:22] nssk1999 commented on #136
I am would be happy if the issue is assigned to me 😊😊😉😎

[2020-10-01 09:27] Pranjal81 commented on #136
I like to solve this issue, please assign this task to me.

[2020-10-01 09:28] devdoesgit commented on #136
I'll be more than happy to contribute

[2020-10-01 09:29] rsrahul1000 commented on #136
Please assign this to me, I'd love to solve this

[2020-10-01 09:32] bhandarii7 commented on #74
please assign this issue to me. I like to start with this for hacktober fest

[2020-10-01 09:33] mrigankdembla commented on #132
yeah, but I'm not able to see it on my issue.

[2020-10-01 09:38] 23krishna commented on #128
please assign

[2020-10-01 09:50] nssk1999 commented on #136
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 09:51] nssk1999 commented on #136
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 09:56] Madhur215 commented on #131
Please assign this to me.

[2020-10-01 09:58] Madhur215 commented on #129
I am ready to work on it. Please assign.

[2020-10-01 10:00] SMITVASOYA commented on #114
can I solve it?

[2020-10-01 10:03] js0805 commented on #131
Please make new issue.

[2020-10-01 10:04] Madhur215 opened #138 "Staircase Of Recursion"
Before jumping into Pr first comment for assign.

**Problem statement**: Write a function that returns the number of ways a person can climb n stairs, where the person may only climb 1 or 2 steps at a time.
**Problem Link**:  https://edabit.com/challenge/JR3T5o6PwzvuGnRge
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR

[2020-10-01 10:05] Madhur215 commented on #138
Please assign it to me.

[2020-10-01 10:13] gourav-j opened #139 "Letter Distance in cpp"
Before jumping into Pr first comment for assign.

**Problem statement** : Given two words, the letter distance is calculated by taking the absolute value of the difference in character codes and summing up the difference.

If one word is longer than another, add the difference in lengths towards the score.

To illustrate:

letterDistance("house", "fly") = dist("h", "f") + dist("o", "l") + dist("u"

[2020-10-01 10:15] gourav-j commented on #139
Please assign this to me

[2020-10-01 10:16] mrigankdembla opened #140 "Solution for Broken Bridges"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function which validates whether a bridge is safe to walk on (i.e. has no gaps in it to fall through).
**Probelm Link** : https://edabit.com/challenge/udrQ2ckXP9cXNXiSk
**Choose one Cateorgy** - Easy
**question category** : Strings,Validation

---
Before submitting a PR please Check some details.

- [x] fileName for

[2020-10-01 10:18] Sourabh-Kumar7 commented on #78
Hey @aayushi-droid, I would like to work on this issue, please assign this to me.

[2020-10-01 10:18] codetravellearn commented on #140
i would like contribute

[2020-10-01 10:18] vaghelaparth05 opened #141 "Find The Odd Integer"
Problem statement : Create a function that takes an array and finds the integer which appears an odd number of times.
Problem Link : https://edabit.com/challenge/wgnmQTbfssuhvZHqe
Difficulty : Hard
Category : Implementation

[2020-10-01 10:19] vaghelaparth05 commented on #141
I have already solved the question. Please this to me.

[2020-10-01 10:19] hnishal opened #142 "Improve readability of readme and add Some features"
add stat buttons and a better description

[2020-10-01 10:20] Codedude1 commented on #141
Wanna work

[2020-10-01 10:21] vaghelaparth05 commented on #141
Yes

[2020-10-01 10:22] Codedude1 commented on #142
Wanna work

[2020-10-01 10:32] vortex2099 commented on #91
Can you assign me this problem?

[2020-10-01 10:33] hnishal commented on #142
yeah sign me in

[2020-10-01 10:34] KhushiGangopadhyay opened #144 "Alphabet Soup"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that takes a string and returns a string with its letters in alphabetical order.
**Probelm Link** : https://edabit.com/challenge/KNxEs8se6jzyHDBfy
**Choose one Cateorgy** -  Easy
**question category** : strings

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelca

[2020-10-01 10:35] KhushiGangopadhyay commented on #144
please assign this to me

[2020-10-01 10:37] ashandilya commented on #141
wanna solve this

[2020-10-01 10:39] andrewflik opened #145 "Prime Factors with Sum"
Before jumping into Pr first comment for assign.

**Problem statement** : Prime Factors with Sum
**Probelm Link** :  https://edabit.com/challenge/Ch9a2fsTckkdE26XX
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Expert

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNum

[2020-10-01 10:39] devdoesgit commented on #145
Please assign this problem to me!

[2020-10-01 10:40] hnishal commented on #142
@Codedude1 yeah, assign it to me

[2020-10-01 10:41] Aakansha99 commented on #145
@andrewflik kindly assign this issue to me

[2020-10-01 10:41] Aakansha99 commented on #145
kindly assign this issue to me

[2020-10-01 10:44] Maitreyi88 commented on #136
This is simple. I can do it.

[2020-10-01 10:45] devdoesgit commented on #145
hey @Aakansha99 usually the issue is assigned to the person who opens it, so kindly refer to #1

[2020-10-01 10:45] amishaagarwal1998 commented on #77
Please assign this to me! Thank you!

[2020-10-01 10:48] Aakansha99 opened #147 "Absolute Sum"
Before jumping into Pr first comment for assign.

**Problem statement** :Absolute Sum
**Probelm Link** : https://edabit.com/challenge/jBFpjEG3tvsjTZbD4
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]

[2020-10-01 10:48] Aakansha99 commented on #147
Kindly assign this issue to me

[2020-10-01 10:56] saurabhatram commented on #147
Can I please solve this problem

[2020-10-01 10:57] mrigankdembla commented on #140
I would like to contribute

[2020-10-01 10:57] mrigankdembla commented on #140
Solution provided, please review and merge: #149

[2020-10-01 10:59] wimanshaherath commented on #147
I would like to contribute to this. Please assign me to this problem.

[2020-10-01 11:06] visu123456 commented on #114
I can solve it with set..let me do it

[2020-10-01 11:06] nssk1999 commented on #136
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 11:09] sachdevarobin commented on #141
I would like to solve this

[2020-10-01 11:11] ayushi-get commented on #141
i would like to solve this to .

[2020-10-01 11:16] ayushi-get commented on #147
i would like to solve this issue . please allow !!

[2020-10-01 12:22] amreenabbas opened #156 "Is the Number Less than or Equal to Zero?"
Before jumping into Pr first comment for assign.

**Problem statement** : Is the Number Less than or Equal to Zero?
**Probelm Link** : https://edabit.com/challenge/7KFAJSSp3pmE8bHhK
**Choose one Cateorgy** - Very Easy
**question category** : conditions, language_fundamentals, validation

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example

[2020-10-01 12:22] amreenabbas commented on #156
I want to work over this issue. Please assign this to me.

[2020-10-01 12:23] srivathsa729 commented on #156
take

[2020-10-01 12:25] ShravyaMallya commented on #156
I'd like to work on this. Could you please assign this issue to me?

[2020-10-01 12:31] Nikhil-1503 commented on #156
Please assign this to me.

[2020-10-01 12:41] pranavgoel29 commented on #114
Assign this issue to me. I will make a PR within five minutes after you assign it to me.

[2020-10-01 12:43] vivekkj123 commented on #38
Sorry, i cant do that now due to some personal issues, so please assign anyone....

[2020-10-01 12:49] wimanshaherath commented on #156
I like work on this. Please assign this to me.

[2020-10-01 12:58] AviSharmaaa commented on #156
I'd like to work on this. Please assign this to me.

[2020-10-01 13:04] Spyy004 commented on #141
Hey, I would like to solve this issue

[2020-10-01 13:04] Spyy004 commented on #138
Assign it to me please

[2020-10-01 13:13] keerti2001 commented on #99
Plz assign this to me

[2020-10-01 13:21] ashishrrs opened #161 "GCD and LCM ( Part 1)"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes two numbers as arguments and returns the Greatest Common Devisor (GCD) of the two numbers.
**Probelm Link** : https://edabit.com/challenge/BzEQsTSmPATbsZJCR
**Choose one Cateorgy** - Medium
**question category** : math ,numbers

---
Before submitting a PR please Check some details.

- [ ] fileNam

[2020-10-01 13:23] NidhiNivedita6 commented on #156
I would like to work on this. Please assign this to me.

[2020-10-01 13:29] NidhiNivedita6 commented on #147
Please assign me this.

[2020-10-01 13:30] SuchismitaDhal commented on #161
Hey! I am pretty well versed with C++, I would like to contribute. Can you assign this issue to me?

[2020-10-01 13:34] NidhiNivedita6 commented on #141
I would like to solve this.

[2020-10-01 13:36] NidhiNivedita6 commented on #136
Please assign me this.

[2020-10-01 13:39] NidhiNivedita6 commented on #131
Please assign me this.

[2020-10-01 13:40] Mayankjha997 commented on #145
kindly assign this issue to me

[2020-10-01 13:41] Mayankjha997 commented on #136
hey! i would like to contribute plzz assign it

[2020-10-01 13:42] NidhiNivedita6 commented on #129
Please assign me this.

[2020-10-01 13:42] Mayankjha997 commented on #129
I would like to work on this issue. Please assign.

[2020-10-01 13:42] nssk1999 commented on #136
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 13:42] nssk1999 commented on #136
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 13:43] khushi-gupta commented on #161
Hi, I wish to contribute. Please assign this issue to me.

[2020-10-01 13:43] NidhiNivedita6 commented on #128
Please assign me this.

[2020-10-01 13:43] Mayankjha997 commented on #128
hey i like to work on this

[2020-10-01 13:45] NidhiNivedita6 commented on #120
Please assign me this.

[2020-10-01 13:48] NidhiNivedita6 commented on #114
Please assign me this.

[2020-10-01 13:49] satthi153 commented on #161
Hi, I would like to contribute.

[2020-10-01 13:53] NidhiNivedita6 commented on #113
Please assign me this.

[2020-10-01 13:53] Robaire commented on #38
Could I get this one?

[2020-10-01 13:55] NidhiNivedita6 commented on #112
Please assign me this.

[2020-10-01 13:58] NidhiNivedita6 commented on #104
Please assign me this.

[2020-10-01 13:59] NidhiNivedita6 commented on #102
Please assign me this.

[2020-10-01 14:00] NidhiNivedita6 commented on #95
Please assign me this.

[2020-10-01 14:03] damascus8 commented on #72
Please assign me this task

[2020-10-01 14:04] NidhiNivedita6 commented on #87
Please assign me this.

[2020-10-01 14:05] NidhiNivedita6 commented on #83
Please assign me this.

[2020-10-01 14:09] NidhiNivedita6 commented on #74
Please assign me this.

[2020-10-01 14:10] NidhiNivedita6 commented on #72
Please assign me this.

[2020-10-01 14:15] mohilkhare1708 commented on #71
it wasn't assigned to me, but I've done it anyway, I'll appreciate it be being merged. PR #166

[2020-10-01 14:20] NidhiNivedita6 commented on #69
Please assign me this.

[2020-10-01 14:36] nausher-ali commented on #72
please assign me this task would like to work on this

[2020-10-01 14:37] akhilbonagiri8465 opened #167 "cpp"
Before jumping into Pr first comment for assign.

**Problem statement** :
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , example- "good first issue", "easy"
-

[2020-10-01 14:45] akhilbonagiri8465 commented on #156
can you assign me , i would like to work on this

[2020-10-01 14:46] mallickarpit commented on #161
I would like to give it a shot

[2020-10-01 14:57] Rahul171201 commented on #72
pls assign me I am new to this community and want to start with such good first issues

[2020-10-01 15:07] anujjain5699 commented on #161
Hi,I would like to contribute.
plz check my work **https://github.com/anujjain5699/cpp** in cpp and  assign this issue to me.

[2020-10-01 15:26] anujjain5699 commented on #156
**I would like to work on this. Please assign this to me.**

[2020-10-01 15:33] RamyaThirumalaisamy commented on #73
@aayushi-droid  Please assign this task to me
Thanks!

[2020-10-01 15:34] anujjain5699 commented on #141
Hey, I would like to solve this issue

[2020-10-01 15:35] Vrindagupta6828 commented on #73
@kushalbargoti when will these issues be assigned?

[2020-10-01 15:46] mallickarpit commented on #106
i can give it a shot

[2020-10-01 16:04] offi-ani commented on #131
Can i take up on this?Can you please assign me this

[2020-10-01 16:11] hnishal commented on #142
@jayanthj737 assign me this

[2020-10-01 16:29] Aditi0707 commented on #147
please assign this issue to me

[2020-10-01 16:41] Tripathi-Alok commented on #72
please assign it to me

[2020-10-01 16:45] rgarg-2711 commented on #75
I would like to work on this issue. Please assign it to me.
[XORSwap.txt](https://github.com/Py-Droid/Edabit-Solutions/files/5313578/XORSwap.txt)

[2020-10-01 17:10] saurabhatram commented on #76
I can do this

[2020-10-01 17:25] rgarg-2711 commented on #75
I would like to work on this issue. Please assign this to me.

[2020-10-01 17:31] shreyraj2002 commented on #74
Hey! please assign me this issue,
As I am having an experience of 3 years in C++ coding!

[2020-10-01 17:49] alokgoldy commented on #77
please assign me

[2020-10-01 18:23] nssk1999 commented on #128
the repo organizers assign the issue mostly to the person who created it
check more about it at the first issue pinned up
Edabit solution repository, Create more issue for problem task #1

[2020-10-01 18:24] nssk1999 commented on #128
@aayushi-droid plz assign the issue to me

[2020-10-01 18:49] Shreyaa-22 commented on #156
I would like to work on it, can you assign it to me?

[2020-10-01 19:06] Amitdutta7 opened #179 "Count Instances of a Character in a String"
Before jumping into Pr first comment for assign.

**Problem statement** : Count Instances of a Character in a String
**Probelm Link** : https://edabit.com/challenge/kbFhwaDyrd79JrgeB
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example-

[2020-10-01 19:06] Amitdutta7 commented on #179
I would like to work on this problem

[2020-10-01 19:18] zahinekbal commented on #112
@pranav230 can you assign this to me ....
i am working on this issues ,I will create PR soon

[2020-10-01 19:18] mauryahimanshu commented on #179
Hey! Can you assign me this problem?

[2020-10-01 19:21] SanskarGupta2207 commented on #179
I am a competitive programmer with 2 years of experience. But I am new to open source and looking for issues involving problem solving in C++. Kindly, assign me this task.

[2020-10-01 19:27] mauryahimanshu opened #181 "Count Letters in a Word Search"
Before jumping into Pr first comment for assign.

**Problem statement** :  Create a function that counts the number of times a particular letter shows up in the word search.
**Probelm Link** :  https://edabit.com/challenge/bsPZtsX62zQmRHNjX
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Medium

---
Before submitting a PR please Check some details

[2020-10-01 19:28] Zeph-T commented on #181
@mauryahimanshu can you assign this to me?

[2020-10-01 19:43] nancyanand2807 commented on #139
Please assign this to me

[2020-10-01 19:54] yasharth291 commented on #112
can you please assign this to me

[2020-10-01 19:56] mahnotrohan commented on #139
I'd like to work on this, please assign

[2020-10-01 19:56] mahnotrohan commented on #181
I'd like to work on this, please assign this to me

[2020-10-01 20:06] #38 closed

[2020-10-01 20:10] RAJAT-SOUL commented on #106
I would like to give the c++ approach to this question.

[2020-10-01 20:11] RAJAT-SOUL commented on #179
I would like to share the c++ approach for this question.

[2020-10-01 20:12] #1 closed

[2020-10-01 20:17] aayushi-droid commented on #74
@kushalbargoti I have assigned to you a lot of problems. please give chance to new contributors.
Thanks

[2020-10-01 20:17] #74 closed

[2020-10-01 20:18] #80 closed

[2020-10-01 20:19] mauryahimanshu opened #184 "Making a Box"
Before jumping into Pr first comment for assign.

**Problem statement** :  Create a function that creates a box based on dimension n.
**Probelm Link** :  https://edabit.com/challenge/yHeTBuJ6LDw3nhA7k
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Hard

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in cam

[2020-10-01 20:19] #83 closed

[2020-10-01 20:20] #87 closed

[2020-10-01 20:21] #91 closed

[2020-10-01 20:21] nikhil121101 commented on #184
hey can i contribute in java

[2020-10-01 20:22] #94 closed

[2020-10-01 20:22] nikhil121101 commented on #184
anyway i am happy do do it in c++ to

[2020-10-01 20:22] aayushwadhwa1 commented on #184
Hey can i contribute, i will be able to do in c++

[2020-10-01 20:22] #95 closed

[2020-10-01 20:23] #99 closed

[2020-10-01 20:23] mauryahimanshu commented on #184
Please assign me.

[2020-10-01 20:31] #102 closed

[2020-10-01 20:35] #113 closed

[2020-10-01 20:37] #105 closed

[2020-10-01 20:37] #184 closed

[2020-10-01 20:39] #106 closed

[2020-10-01 20:40] #108 closed

[2020-10-01 20:44] #161 closed

[2020-10-01 20:46] zahinekbal commented on #112
@pranav230 I Added FindMissingNumber.cpp ..
please check my code and review my PR

[2020-10-01 20:50] #139 closed

[2020-10-01 20:53] #19 closed

[2020-10-01 20:53] princekalra commented on #156
hey can i contribute on this

[2020-10-01 20:54] aayushi-droid commented on #112
PR of assign Person will review.. sorry

[2020-10-01 20:54] princekalra commented on #147
hey can i contribute on this

[2020-10-01 20:55] princekalra commented on #138
hey can i contribute on this

[2020-10-01 20:58] dalalvarun commented on #179
I would like to work on this.

[2020-10-01 21:02] Robaire opened #187 "Plant the Grass"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that given an input field (matrix) simulates grass growing from a starting coordinate
**Probelm Link** : https://edabit.com/challenge/szij3YFmix7bMN7En
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Expert

---
Before submitting a PR please Check some deta

[2020-10-01 21:04] Robaire opened #189 "Distance to Nearest Vowel"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function that takes in a string and for each character, returns the distance to the nearest vowel. If the character is a vowel itself, return 0.
**Probelm Link** : https://edabit.com/challenge/neXwYQ5y7RSxkNfTe
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Expert

[2020-10-01 21:04] Robaire commented on #189
Please assign this to me.

[2020-10-01 21:05] aayushi-droid opened #190 "Reviewing PR may take some Time"
Reviewing PR may take some time. I am merging PR as possible.
Pr will merge under 1-4 days.

Please, have patience and Keep Coding. Please don't make PR without issue assignments.

[2020-10-01 21:43] shushriya6998 commented on #187
I would like to contribute to this in C++. Please assign it to me. Thanks!

[2020-10-01 21:50] mauryahimanshu opened #191 "Replace Letters With Position In Alphabet"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string and replaces each letter with its appropriate position in the alphabet.
**Probelm Link** : https://edabit.com/challenge/rZbXfisPPKbR6yNXn
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Hard

---
Before submitting a PR please Check some

[2020-10-01 21:51] gh4abhi opened #192 "Is the Number Even or Odd?"
Before jumping into Pr first comment for assign.

**Problem statement** : Is the Number Even or Odd?
**Probelm Link** :  https://edabit.com/challenge/65dsmYkHsenAJ3979
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTh

[2020-10-01 21:52] gh4abhi commented on #192
Please assign this to me.

[2020-10-01 23:26] Jay206-Programmer commented on #189
**Please Assign this to Me**

I have created the whole code. Only waiting for the task assignment to do a Pr.

[code]

[2020-10-02 00:45] kushalbargoti commented on #74
Okay thanks @aayushi-droid

[2020-10-02 00:57] wimanshaherath commented on #192
Can you assign me to this issue?

[2020-10-02 02:27] #142 closed

[2020-10-02 03:34] Aditi-1400 commented on #132
@aayushi-droid I had a small doubt, The code is supposed to be in Python or C++?

[2020-10-02 03:53] #114 closed

[2020-10-02 03:55] #118 closed

[2020-10-02 03:57] #136 closed

[2020-10-02 03:58] #120 closed

[2020-10-02 04:00] rohitbarvekar commented on #181
Hi, @mauryahimanshu . This is my first hacktoberfest request. I am interested could you please assign it to me.

[2020-10-02 04:01] #140 closed

[2020-10-02 04:03] #134 closed

[2020-10-02 04:04] khushi-gupta commented on #192
Hi, Kindly assign this issue to me. Thankyou.

[2020-10-02 04:06] #144 closed

[2020-10-02 04:15] khushi-gupta opened #201 "Find Area Of Triangle"
Before jumping into Pr first comment for assign.

**Problem statement** :Write a function that takes the base and height of a triangle and return its area.
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
Category-Very Easy
**question category** : https://edabit.com/challenge/3CaszbdZYGN4otQD8

---
Before submitting a PR please Check some details.

- [x

[2020-10-02 04:15] #191 closed

[2020-10-02 04:15] khushi-gupta commented on #201
Kindly assign this issue to me. Thanks

[2020-10-02 04:16] shreyraj2002 commented on #201
Please assign this issue to me

[2020-10-02 04:18] #192 closed

[2020-10-02 04:22] mrigankdembla opened #202 "Reverse String Order"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string as its argument and returns the string in reversed order.
**Probelm Link** : https://edabit.com/challenge/gYxDahmv8CbWmiThc
**Choose one Cateorgy** - Easy
**question category** : Strings

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase

[2020-10-02 04:23] mrigankdembla commented on #202
Please assign this issue to me

[2020-10-02 04:26] mrigankdembla commented on #202
Please review the PR #203

[2020-10-02 04:41] Mayankjha997 commented on #202
Please assign this issue to me i will share the algorithm in c language

[2020-10-02 04:51] devdoesgit commented on #145
Kindly review the PR #204

[2020-10-02 04:51] mrigankdembla opened #206 "Return the Middle Character(s) of a String"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string and returns the middle character(s). If the word's length is odd, return the middle character. If the word's length is even, return the middle two characters.
**Probelm Link** : https://edabit.com/challenge/p3SCSXaWQLWpvqCYZ
**Choose one Cateorgy** - Easy
**question category** : Strings,

[2020-10-02 04:51] mrigankdembla commented on #206
Please assign this issue to me, thanks !

[2020-10-02 04:54] mrigankdembla commented on #206
Please review the PR #207 , thanks!

[2020-10-02 05:01] pranavbharadwaj007 opened #209 "Next Permutation"
Before jumping into Pr first comment for assign.

**Problem statement** :Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.
**Problem Link** :  <a href="https://leetcode.com/problems/next-permutation/">click here</a>
**Choose one Cateorgy** - Medium
**question category** : Vectors,Algorithm

---
Before submitting a PR please Check s

[2020-10-02 05:02] pranavbharadwaj007 commented on #209
@aayushi-droid  pls assign this issue to me

[2020-10-02 05:10] pranavbharadwaj007 opened #212 "Rotate Image"
Before jumping into Pr first comment for assign.

**Problem statement** : You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).
**Problem Link** : <a href="https://leetcode.com/problems/rotate-image/">Click here</a>
**Choose one Cateorgy** - Medium.
**question category** : 2D Vectors,Algorithm

---
Before submitting a PR please Check some details.

- [

[2020-10-02 05:11] pranavbharadwaj007 commented on #212
@aayushi-droid  Pls assign this issue to me.
I will be making a PR.

[2020-10-02 05:11] Hitesh18082001 commented on #201
Please assign  me this issue. I want to fix it.

[2020-10-02 05:13] 23krishna commented on #76
@aayushi-droid please assign this task to me.
ThankYou

[2020-10-02 05:15] #209 closed

[2020-10-02 05:15] #212 closed

[2020-10-02 05:19] Madhur215 opened #213 "Hitting the Jackpot"
Before jumping into Pr first comment for assign.

**Problem statement**: Create a function that takes in an array (slot machine outcome) and returns true if all elements in the array are identical, and false otherwise. The array will contain 4 elements.
**Probelm Link** : https://edabit.com/challenge/5eStPo3wrZRju7j9G
**Choose one Cateorgy** - Easy
**question category** : C++

---
Before submittin

[2020-10-02 05:19] Madhur215 commented on #213
Please assign it to me.

[2020-10-02 05:22] pranavbharadwaj007 opened #215 "XOR SWAP"
Before jumping into Pr first comment for assign.

**Problem statement** :This is more informational than a challenge. You can actually switch 2 variables with the XOR operation ^. XOR works with two arguments. It turns both arguments in their binary representation, and for each bit, returns 1 if they are different, 0 otherwise.

The return value is the decimal representation of the new binary stri

[2020-10-02 05:23] Hitesh18082001 commented on #206
I want to fix this issue. Please assign it to me.
Thanks!!

[2020-10-02 05:23] pranavbharadwaj007 commented on #215
@aayushi-droid  pls assign this issue to me

[2020-10-02 05:24] Hitesh18082001 commented on #215
please assign this issue to me.
thanks!!

[2020-10-02 05:37] parjanyaacoder commented on #202
I will like to work on this issue in Java and C++. Please assign.

[2020-10-02 06:09] on-error commented on #206
I want to fix this issue. Please assign it to me.
Thanks!!

[2020-10-02 06:39] AviSharma1305 opened #218 "Power Calculator"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes voltage and current and returns the calculated power.
**Probelm Link** :  https://edabit.com/challenge/a2D3cva6PKrHyqdXC
**Choose one Cateorgy** - Very Easy
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- re

[2020-10-02 06:40] AviSharmaaa commented on #218
Please assign this to me

[2020-10-02 06:41] mrinal07 commented on #131
Please assign this task to me!
I will follow each and every guideline properly.

[2020-10-02 06:41] kamalmulani commented on #201
does this problem require solution in c++ if yes, then please assign this to me.

[2020-10-02 06:44] Manavi18 commented on #218
I can implement in python if needed.

[2020-10-02 06:46] mrinal07 commented on #6
Can you please assign me?
I would love to do.

[2020-10-02 06:49] mrinal07 commented on #7
I want to work on this.
Can u please assign me.

[2020-10-02 06:51] babitha667 commented on #73
I would like to contribute please assign this to me.

[2020-10-02 06:51] iFrogHop2Worlds commented on #213
I could do this, assign to me please

[2020-10-02 06:59] anshumyname commented on #213
I would also like to work on the problem and can add C++, C and python solutions also.

[2020-10-02 07:17] Nusratillo777 commented on #72
hello, Can you assign me?

[2020-10-02 07:38] Nusratillo777 commented on #77
Please assign me

[2020-10-02 07:42] dhavalmaniyar commented on #201
please assign to me.

[2020-10-02 07:42] Nusratillo777 commented on #218
Please assign this to me

[2020-10-02 07:45] dhavalmaniyar commented on #126
please assign this task to me.

[2020-10-02 07:45] Hitesh18082001 opened #223 "LOWEST COMMON DIVISOR"
Before jumping into Pr first comment for assign.

Problem statement :Write a program to find the lowest common divisor of two numbers.
Probelm Link : https://edabit.com/challenge/BzEQsTSmPATbsZJCR
Choose one Cateorgy -  Medium
question category: loop,maths

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]

[2020-10-02 07:46] Hitesh18082001 commented on #223
please assign it to me

[2020-10-02 07:46] dhavalmaniyar commented on #218
please assign this task to me.

[2020-10-02 07:53] Nusratillo777 opened #225 "Check if the String is a Palindrome"
Before jumping into Pr first comment for assign.

**Problem statement** : A palindrome is a word, phrase, number or other sequence of characters which reads the same backward or forward, such as madam or kayak.

Write a function that takes a string and determines whether it's a palindrome or not. The function should return a boolean (true or false value).
**Probelm Link** : https://edabit.com/chal

[2020-10-02 07:53] Nusratillo777 commented on #225
please assign me

[2020-10-02 07:54] amul-dhungel commented on #223
Assign this to me

[2020-10-02 07:56] Monish-P commented on #225
Hey @Nusratillo777 . Could you please assign me this?

[2020-10-02 08:01] YourGoodFriendSP opened #226 "Minimum Removals to Make Two Strings Anagrams"
Before jumping into Pr first comment for assign.

Problem statement-Minimum Removals to Make Two Strings Anagrams
Problem Link-https://edabit.com/challenge/NBi75bkHrhTTxmxST
Category-Hard
question category-strings

**Problem statement** :
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check so

[2020-10-02 08:03] ghost commented on #226
please assign this problem to me, this is my first pull request and hacktoberfest participation

[2020-10-02 08:05] vineetsharma36 commented on #225
Hey can you assign me this problem?

[2020-10-02 08:08] shashwat9kumar commented on #225
Hey!!
Could I be assigned a problem too???

[2020-10-02 08:10] YourGoodFriendSP opened #227 "Mini Peaks"
Before jumping into Pr first comment for assign.

Problem statement:Write a function that returns all the elements in an array that are strictly greater than their adjacent left and right neighbors.
Problem Link-https://edabit.com/challenge/5KAsvzdc9DLfEx65t
Category-Hard
Question category-Arrays

**Problem statement** :
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, V

[2020-10-02 08:11] ghost commented on #227
can i start working on this?

[2020-10-02 08:12] ashishrrs opened #228 "Tally Marks"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that can convert from normal notation to tally-mark notation and vice versa. In tally-mark notation, a number can be decomposed as the sum of 5s + remainder.

The function will look like this: switchNotation([current scores], desired notation)

**Probelm Link** : https://edabit.com/challenge/deeB7yAgunvLKf4f

[2020-10-02 08:14] YourGoodFriendSP opened #229 "Burrrrrrp"
Before jumping into Pr first comment for assign.
Problem statement-Create a function that returns the string "Burp" with the amount of "r's" determined by the input parameters of the function.
problem link-https://edabit.com/challenge/vxpP4nnDhRr2Yc3Lo
category-easy
question category-strings

**Problem statement** :
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very H

[2020-10-02 08:16] rajinderpalsingh2001 commented on #225
Can you please assign this problem to me, I will surely meet the program requirements.

[2020-10-02 08:18] YourGoodFriendSP commented on #229
please assign this to me

[2020-10-02 08:21] mrinal07 commented on #228
I want to contribute please assign it to me.

[2020-10-02 08:24] chiru-cd opened #231 "Perfect Square Patch"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes an integer and outputs an n x n square solely consisting of the integer n.
**Probelm Link** : https://edabit.com/challenge/omTRzwvBibk4etBkx
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Medium

---
Before submitting a PR please Check some deta

[2020-10-02 08:24] chiru-cd commented on #231
I would like to work on this. Please assign.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] div5252 opened #232 "Caesar's Cipher"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string s (text to be encrypted) and an integer k (the rotation factor). It should return an encrypted string.
**Probelm Link** : https://edabit.com/challenge/GmPfqu2jmLDBD2NYS
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Hard

---
Befor

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] div5252 commented on #232
Assign this to me

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:34] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:35] tusharkashyap63 commented on #76
I'll be glad to work on this issue.

[2020-10-02 08:35] #232 closed

[2020-10-02 08:38] tusharkashyap63 commented on #231
I'll be glad to work on this issue.

[2020-10-02 08:39] princekalra commented on #218
i want to work  on this please assign it to me

[2020-10-02 08:39] tusharkashyap63 commented on #227
I'll be glad to work on this issue.

[2020-10-02 08:42] tusharkashyap63 commented on #225
I'll be glad to work on this issue.

[2020-10-02 09:05] khushi-gupta opened #234 "Array Of Multiples"
Before jumping into Pr first comment for assign.

**Problem statement** :Create a function that takes two numbers as arguments (num, length) and returns an array of multiples of num until the array length reaches length.
**Problem Link** : https://edabit.com/challenge/7oyHeyJR2LkB3hr8g
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Medium

---
Be

[2020-10-02 09:05] khushi-gupta commented on #234
Hi, Kindly assign this issue to me. Thanks

[2020-10-02 09:09] kalrasagar commented on #234
Hey, kindly assign this issue to me.

[2020-10-02 09:12] div5252 opened #236 "Next Largest Number"
Before jumping into Pr first comment for assign.

**Problem statement** : Write a function that returns the next largest number that can be created from the same digits as the input.
**Probelm Link** : https://edabit.com/challenge/WtfjhA6dydKSERz6G
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very hard

---
Before submitting a PR please Check s

[2020-10-02 09:13] tharun571 opened #237 "Would love to take up this problem."
Before jumping into Pr first comment for assign.

**Problem statement** :
**Probelm Link** :
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , example- "good first issue", "easy"
-

[2020-10-02 09:20] pranavgoel29 opened #240 "Return the Sum of Two Numbers"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes two numbers as arguments and return their sum.
**Probelm Link** : https://edabit.com/challenge/SFzHtm63XT6EYNHWY
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please Check some details.

- [x] fileName form

[2020-10-02 09:22] sakshi0461 commented on #71
Please assign this issue to me...

[2020-10-02 09:23] sakshi0461 commented on #240
Please assign this to me

[2020-10-02 09:23] pranavgoel29 commented on #240
I would like to work on this @aayushi-droid please assign it to me.

[2020-10-02 09:23] sakshi0461 commented on #236
Please assign this to me

[2020-10-02 09:31] rishabh15b commented on #223
Can you please assign this problem to me?

[2020-10-02 09:36] DS-73 commented on #240
Hello,
Please assign this task to me I can solve it

Thank you

[2020-10-02 09:38] Deepak290701 commented on #237
Hello ,can you please give the problem name and assign it to me.

[2020-10-02 09:43] Deepak290701 commented on #236
Hello , Can you please assign this task to me .

[2020-10-02 10:09] Nusratillo777 opened #242 "Derivative of a Function"
Before jumping into Pr first comment for assign.

**Problem statement** : Directions: Create a function that takes numbers b and m as arguments and returns the derivative of the function f(x)=x^b with respect to x at the point where x=m, where band m are constants.
**Probelm Link** : https://edabit.com/challenge/sR3aNNQ9kJoSurDLK
**Choose one Cateorgy** - Medium
**question category** : math, numbe

[2020-10-02 10:09] Nusratillo777 commented on #242
please assign me

[2020-10-02 10:13] Nusratillo777 commented on #232
Why did you close this issue?

[2020-10-02 10:13] kubercodes commented on #242
Please assign this to me

[2020-10-02 10:14] danglingP0inter commented on #242
please assign this to me

[2020-10-02 10:21] pranavgoel29 commented on #240
@aayushi-droid please assign this to me.

[2020-10-02 10:32] vidit624 commented on #77
Please assign me

[2020-10-02 10:42] vidit624 commented on #225
I'll be glad to work on this

[2020-10-02 10:51] Nusratillo777 opened #243 "Reverse Letters, Keep Numbers in Place"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that reverses letters in a string but keeps digits in their current order.
**Probelm Link** : https://edabit.com/challenge/7MB4iAGx53BMgHAC6
**Choose one Cateorgy** - Hard
**question category** : logic, strings

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelc

[2020-10-02 10:52] Nusratillo777 commented on #243
Please assign me

[2020-10-02 10:59] Nusratillo777 opened #244 "Reverse Coding Challenge #5"
Before jumping into Pr first comment for assign.

**Problem statement** : This is a reverse coding challenge. Normally you're given explicit directions with how to create a function. Here, you must generate your own function to satisfy the relationship between the inputs and outputs.

Your task is to create a function that, when fed the inputs below, produce the sample outputs shown.
**Probelm Lin

[2020-10-02 10:59] Nusratillo777 commented on #244
Please assign me

[2020-10-02 10:59] Gautam-Diwan commented on #243
assign to me

[2020-10-02 11:06] venkateshpensalwar commented on #179
I would like to solve the problem in the C++ language for this question. please assign this task to me

[2020-10-02 11:11] danglingP0inter commented on #244
please assign this to me

[2020-10-02 11:35] luccanunes commented on #243
hey there! i would really like to be assigned to this

[2020-10-02 12:12] ishitakeshawani opened #248 "change making problem in C++"
solve a problem using Dynamic programming in C++.
category: hard issue.

[2020-10-02 12:15] ishitakeshawani commented on #248
I want to contribute to this issue. please assign me.

[2020-10-02 12:18] SugandhiGupta commented on #243
please assign this to me!
thank you

[2020-10-02 12:20] SugandhiGupta commented on #229
please assign this to me!
thank you

[2020-10-02 12:20] SugandhiGupta commented on #227
please assign this to me!
thank you

[2020-10-02 12:22] SugandhiGupta commented on #226
please assign this to me!
thank you

[2020-10-02 12:23] SugandhiGupta commented on #2
please assign this to me!
thank you

[2020-10-02 12:56] rajarshisg opened #250 "Recursion: Reverse a String"
Link : https://edabit.com/challenge/HXGx9oXukEgsFK6PH
I want to work on this. Please assign it to me.

[2020-10-02 12:57] ashishrrs opened #251 "Matrix Transpose"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that transposes a 2D matrix.
**Probelm Link** : https://edabit.com/challenge/4KaoDvxaFSmf38bPQ
**Choose one Cateorgy** -Hard
**question category** : arrays, math

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Ch

[2020-10-02 13:00] indranil-tiwary commented on #251
Hey @ashishrrs, Please assign this to me!

[2020-10-02 13:01] Gautam-Diwan commented on #251
I will do it. Assign me this

[2020-10-02 13:03] gh4abhi opened #252 "Are the Numbers Equal?"
Before jumping into Pr first comment for assign.

**Problem statement** : Are the Numbers Equal?
**Probelm Link** :  https://edabit.com/challenge/uSiEPX7YrhNsqtzMr
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNex

[2020-10-02 13:04] gh4abhi commented on #252
Please assign this to me.

[2020-10-02 13:05] avsd47 commented on #251
hey @ashishrrs pls assign me to this

[2020-10-02 13:16] Gautam-Diwan commented on #223
pls assign to me @Hitesh18082001

[2020-10-02 13:22] gh4abhi opened #254 "Using the :? Operator"
Before jumping into Pr first comment for assign.

**Problem statement** : Using the :? Operator
**Probelm Link** :  https://edabit.com/challenge/Qs9aWacyy5jXdNz45
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextN

[2020-10-02 13:22] gh4abhi commented on #254
Please assign this to me.

[2020-10-02 13:23] byte-coding opened #255 "Jump Game - II"
**Problem Link:** https://leetcode.com/problems/jump-game-ii/

Given an array of non-negative integers, you are initially positioned at the first index of the array.
Each element in the array represents your maximum jump length at that position.
Your goal is to reach the last index in the minimum number of jumps.

**Example:**
Input: [2,3,1,1,4]
Output: 2
**Explanation:** The minimum number of jum

[2020-10-02 13:27] Gautam-Diwan commented on #255
assign this to me @byte-coding

[2020-10-02 13:27] rajarshisg commented on #254
Hey, please assign it to me.

[2020-10-02 13:28] byte-coding commented on #255
@aayushi-droid Can you please assign this issue to me?
 I am working on it.

[2020-10-02 13:32] sh-1010 commented on #71
Assign it to me

[2020-10-02 13:42] Robaire commented on #187
@aayushi-droid You can assign this to someone else, I figured I should add some challenges for others to do.

[2020-10-02 13:56] khushi2912 commented on #254
I would like to work on this, can you assign this to me?

[2020-10-02 14:01] khushi2912 commented on #228
I would like to work on this issue. Can you assign this to me?

[2020-10-02 14:04] anantbharti30 commented on #252
please approve

[2020-10-02 14:06] prajwalscodestack commented on #251
Hey there please assign me this to me

[2020-10-02 14:08] khushi2912 commented on #237
I would love to work on this. Can you assign this to me?

[2020-10-02 14:14] anantbharti30 commented on #252
please approve

[2020-10-02 14:14] Gautam-Diwan commented on #215
pls assign this issue

[2020-10-02 14:25] anantbharti30 commented on #240
Please assign to me

[2020-10-02 14:38] asad2200 commented on #254
Hey @gh4abhi. This is my first hecktoberfest contribution. I would like to work on this please assign it to me.

[2020-10-02 14:42] anantbharti30 commented on #254
Please assign to me

[2020-10-02 14:51] gh4abhi commented on #254
I am not the owner of this repo so I cannot assign this to anyone.

[2020-10-02 14:51] #254 closed

[2020-10-02 15:13] gh4abhi opened #267 "Multiple of 100"
Before jumping into Pr first comment for assign.

**Problem statement** : Multiple of 100
**Probelm Link** : https://edabit.com/challenge/b3tArYGfMfmq78MoS
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  C

[2020-10-02 15:15] gh4abhi commented on #267
Please assign this to me.

[2020-10-02 15:22] prajwlr commented on #267
Hi. I would love to contribute. Please assign it to me.

[2020-10-02 15:23] prajwlr commented on #250
Hi. I would love to contribute. Please assign me.

[2020-10-02 15:24] prajwlr commented on #17
Hi. I would love to contribute. Please assign it to me.

[2020-10-02 15:24] prajwlr commented on #255
Hi. I would love to contribute. Please assign it to me.

[2020-10-02 15:25] dinijian commented on #267
Hello @gh4abhi. I want to contribute to this issue. Please assign it to me. I will do it in C++.

[2020-10-02 15:28] dinijian commented on #267
Hello. I want to contribute to this issue. Please assign it to me. I will do it in C++.

[2020-10-02 15:44] NidhiNivedita6 commented on #267
Please assign this to me. I will do it in C.

[2020-10-02 15:45] Mayankjha997 commented on #267
Please assign this to me. I will do it in Python.

[2020-10-02 16:14] gh4abhi opened #270 "Using ?:"
Before jumping into Pr first comment for assign.

**Problem statement** : Char-to-ASCII
**Probelm Link** : https://edabit.com/challenge/TdcPGgdJda6XGJian
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Cho

[2020-10-02 16:14] Awanit512 commented on #267
please assign this work to me.

[2020-10-02 16:17] rodrigoboos commented on #270
hello, please assign it to me

[2020-10-02 16:18] gh4abhi commented on #270
Please assign this to me.

[2020-10-02 16:20] #270 closed

[2020-10-02 16:20] Awanit512 commented on #250
Hi can you please assign this to me i will like to work on this.

[2020-10-02 16:21] gh4abhi opened #271 "Char-to-ASCII"
Before jumping into Pr first comment for assign.

**Problem statement** : Char-to-ASCII
**Probelm Link** :   https://edabit.com/challenge/TdcPGgdJda6XGJian
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  C

[2020-10-02 16:21] Awanit512 commented on #270
hi can you please assign this to me.

[2020-10-02 16:22] gh4abhi commented on #271
Please assign this to me.

[2020-10-02 16:25] Awanit512 commented on #271
Please can you assign this to me.

[2020-10-02 16:32] Swarn10 commented on #77
Please assign this issue to me. I believe I would be able to do justice to this issue.

[2020-10-02 16:57] Swarn10 commented on #76
@aayushi-droid  and @SangeetaMishra  please assign this to me . I believe I will be able to do full justice to this problem.

[2020-10-02 17:02] Rituraj-commits opened #272 "Reverse a string recursively"
Before jumping into Pr first comment for assign.

**Problem statement** : This program will reverse a string recursively.
**Probelm Link** : https://edabit.com/challenge/HXGx9oXukEgsFK6PH
**Choose one Cateorgy** - Medium
**question category** : recursion,strings

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py

[2020-10-02 17:05] Rituraj-commits commented on #272
Please @aayushi-droid assign this to me

[2020-10-02 17:07] garvitsharma05 commented on #267
I would like to contribute.

[2020-10-02 17:10] GTron-1729 commented on #272
Hey @Rituraj-commit. I would be glad to do this 👍.

[2020-10-02 17:12] Hitesh18082001 opened #274 "ArrayOfTables"
Before jumping into Pr first comment for assign.

Problem statement :Write a function which takes two a arguments (num,length) and return a array of multiple of num and size of
                                 array is length. For eg:-(5,4) return (5,10,15,20) , (12,6) return (12,24,36,48,60,72).
Probelm Link: https://edabit.com/challenge/ebcd4Xu8TLizaj6dm
Choose one Cateorgy - Medium
**question c

[2020-10-02 17:12] gauriguglani11 commented on #272
Can you please Assign this to me, it would be a pleasure working on this!

[2020-10-02 17:13] Hitesh18082001 commented on #274
Please assign it to me.
Thanks!!

[2020-10-02 17:15] gauriguglani11 commented on #271
Hey, hope you are doing good. Kindly assign this to me. Thank you!

[2020-10-02 17:19] riyagoel192 commented on #77
Please assign this to me

[2020-10-02 17:34] BananaMoshpit opened #275 "Recursion: Fibonacci Numbers"
Before jumping into Pr first comment for assign.

**Problem statement** : The nth Fibonacci number
**Probelm Link** : https://edabit.com/challenge/BfWjk87JLY5roKzg6
**Choose one Cateorgy** - Easy
**question category** : math, recursion

---
Before submitting a PR please Check some details.

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Choose label for Pro

[2020-10-02 17:35] reginaEmyk commented on #275
Hello, I'm a newbie c++ programmer, please assign this to me

[2020-10-02 17:36] AnshMishra2001 commented on #275
pls assign this to me.

[2020-10-02 17:36] AnshMishra2001 commented on #275
I can code it in Java, C++ and Python

[2020-10-02 17:41] Dhi13man commented on #275
Do assign. I can do it in any language. Easy category.

[2020-10-02 17:43] ayu16 commented on #275
please can you assign this to me I can do it any language

[2020-10-02 17:52] SMITVASOYA commented on #6
can I try it?

[2020-10-02 18:07] vaishnavijha commented on #272
Can u assign this to me?

[2020-10-02 18:08] Mayankjha997 commented on #275
please assign me i will do in c language

[2020-10-02 18:08] NidhiNivedita6 commented on #275
Please assign me this.

[2020-10-02 18:16] pranavgoel29 opened #278 "How Many Vowels?"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string and returns the number (count) of vowels contained within it.
**Probelm Link** :  https://edabit.com/challenge/jwPaBe2xjE46baPoG
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Easy

---
Before submitting a PR please Check some details.

[2020-10-02 18:17] pranavgoel29 commented on #278
@aayushi-droid please Assign this to me.

[2020-10-02 18:17] srai0109 commented on #274
please assign it to me.

[2020-10-02 18:18] TanmayBhosale commented on #274
please assign it to me
thank you

[2020-10-02 18:21] Awanit512 commented on #278
please assign this to me.I love to work on it.

[2020-10-02 18:25] aktgb31 commented on #278
Please assign this to me

[2020-10-02 18:34] satwik16 commented on #278
I would love to work on it ,please assign this to me

[2020-10-02 18:35] ajay272191 commented on #236
Hi, Can you please assign this to me. Thank you.

[2020-10-02 18:39] ajay272191 commented on #229
Hi  @YourGoodFriendSP  Plese assign this Problem to me. Thank you.

[2020-10-02 18:40] arvind0009 commented on #271
please assign this to me..

[2020-10-02 19:27] jayanthjj commented on #6
@Mrinal-Choudhary07 @SMITVASOYA It's done just left to be merged, try to solve other examples on https://edabit.com/challenge/ and open an issue with the template used above.

[2020-10-02 19:45] #267 closed

[2020-10-02 19:45] #271 closed

[2020-10-02 20:29] anuragdevon commented on #274
Please assign it to me
Thanks!

[2020-10-03 03:49] Procoder16 commented on #278
@pranavgoel29 sir, I would like to work on this issue.

Can you please assign me this issue.

[2020-10-03 05:56] JoshuaOloton commented on #272
Can u assign this to me?

[2020-10-03 06:02] sethivansh6 commented on #275
Assign me any problem in CPP or Java I am ready to work on it.

[2020-10-03 06:06] sethivansh6 commented on #215
Assign me this issue or the other ones you like I can code them C++, JAVA, and JS.

[2020-10-03 06:30] kushalbargoti commented on #73
@aayushi-droid  Done✅

[2020-10-03 06:38] mauryahimanshu opened #289 "Letters Shared Between Two Words"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns the number of characters shared between two words.
**Probelm Link** :  https://edabit.com/challenge/qeCS48GXtK9NJLc9C
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Hard

---
Before submitting a PR please Check some details.

- [x] fileName fo

[2020-10-03 06:39] mauryahimanshu commented on #289
I would like to work on it.

[2020-10-03 06:40] kushalbargoti commented on #74
@aayushi-droid Assign this problem to someone else.

[2020-10-03 06:40] Gautam-Diwan commented on #278
please assign me this @pranavgoel29

[2020-10-03 06:51] sakshi-negi123 commented on #77
Please assign this to me.

[2020-10-03 07:39] pranavgoel29 commented on #278
@Gautam-Diwan @Procoder16 @satwik16 @aktgb31 @Awanit512
I am not allowed to assign it to anyone as you have to choose an question and make an issue about it so it can be assigned to you they are assigning it to those who post the issue. So respectively choose a different problem and make an issue about it.

[2020-10-03 07:45] pranavgoel29 commented on #240
@anantbharti30 you have to open an new issue with you problem task like I did so it can be assigned to you

[2020-10-03 07:48] vaishnavijha opened #296 "Rainwater trapping problem"
Before jumping into Pr first comment for assign.

**Problem statement** :Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.
**Probelm Link** : https://practice.geeksforgeeks.org/problems/trapping-rain-water/0
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question categ

[2020-10-03 07:49] vaishnavijha commented on #296
Please assign it to me

[2020-10-03 07:51] Gautam-Diwan commented on #289
pls assign me this issue

[2020-10-03 08:13] ACAA06 commented on #73
Problem statement : Create a function to find only the root value of x in any quadratic equation ax^2 + bx + c.
Probelm Link : https://edabit.com/challenge/nasKYub6qEAfQcFuy
Choose one Cateorgy - Medium
question category : Conditions , Math, Algebra

Can i do this in C++?

[2020-10-03 09:17] nikkkhil067 opened #299 "Rotate Matrix using c++"
**Problem statement** : Given a matrix, clockwise rotate elements in it.
**Probelm Link** : https://www.geeksforgeeks.org/rotate-matrix-elements/
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose

[2020-10-03 09:29] abhijeetaman007 commented on #299
Please assign to me

[2020-10-03 10:13] Hackerbone commented on #242
please assign me this ! thanks!

[2020-10-03 10:16] Hackerbone commented on #274
Please assign me this thanks!

[2020-10-03 10:18] Hackerbone commented on #299
Please assign me this ! Thanks

[2020-10-03 11:18] #202 closed

[2020-10-03 11:18] #206 closed

[2020-10-03 11:19] #213 closed

[2020-10-03 11:23] #128 closed

[2020-10-03 11:23] #228 closed

[2020-10-03 11:26] #236 closed

[2020-10-03 11:27] aayushi-droid commented on #237
No problem statement and problem link.

[2020-10-03 11:27] #237 closed

[2020-10-03 11:27] saks1209am commented on #75
Can you assign this issue to me?

[2020-10-03 11:28] saks1209am commented on #299
Please assign this issue to me.

[2020-10-03 11:29] aayushi-droid commented on #240
Thanks for messaging but priority will give to issue-author(who created the issue)

[2020-10-03 11:31] #242 closed

[2020-10-03 11:32] Nusratillo777 commented on #242
Why you assigned another person? I created this issue and solved it. But I'm waiting to create PR?

[2020-10-03 11:35] Nusratillo777 commented on #242
Because you wrote did make PR before assigning.

[2020-10-03 11:37] #250 closed

[2020-10-03 11:37] #251 closed

[2020-10-04 18:15] mrigankdembla opened #308 "Count Syllables"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that counts the number of syllables a word has. Each syllable is separated with a dash -.
**Probelm Link** : https://edabit.com/challenge/zRe5fx3MbiBxcrvXH
**Choose one Cateorgy** - Easy
**question category** : Strings,Fundamentals

---
Before submitting a PR please Check some details.

- [x] fileName forme

[2020-10-04 18:19] mrigankdembla commented on #308
Please assign this issue to me, thanks!

[2020-10-04 18:19] mrigankdembla commented on #308
Resolved this, please review and merge PR #309

[2020-10-05 03:26] #308 closed

[2020-10-05 03:27] #240 closed

[2020-10-05 03:27] #2 closed

[2020-10-05 03:32] aayushi-droid commented on #48
#52

[2020-10-05 03:32] #48 closed

[2020-10-05 03:32] #14 closed

[2020-10-05 03:33] #6 closed

[2020-10-05 03:34] aayushi-droid commented on #32
#56

[2020-10-05 03:34] #32 closed

[2020-10-05 03:35] #132 closed

[2020-10-05 03:35] #16 closed

[2020-10-05 03:36] #24 closed

[2020-10-05 03:37] #23 closed

[2020-10-05 03:38] #20 closed

[2020-10-05 03:40] #35 closed

[2020-10-05 03:40] #37 closed

[2020-10-05 03:42] #63 closed

[2020-10-05 03:45] #27 closed

[2020-10-05 03:46] aayushi-droid commented on #61
#79

[2020-10-05 03:46] #61 closed

[2020-10-05 03:47] #46 closed

[2020-10-05 03:51] #218 closed

[2020-10-05 10:16] Swarn10 opened #310 "Quadratic Equation root"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function to find only the root value of x in any quadratic equation `ax^2+bx+c`. The problem will take 3 arguments :
- `a` as the co-efficient of `x^2`
- `b` as the co-efficient of `x`
- `c` as the constant term

**Problem Link** :  https://edabit.com/challenge/nasKYub6qEAfQcFuy
**Choose one category** - Very Easy,

[2020-10-05 10:16] Swarn10 commented on #310
@aayushi-droid Please assign this issue to me.

[2020-10-05 10:24] Shreyash0713 opened #311 "ZigZag Coversion"
Before jumping into Pr first comment for assign.

**Problem statement** : The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

P   A   H   N
A P L S I I G
Y   I   R
And then read line by line: "PAHNAPLSIIGYIR"

**Probelm Link** :  https://leetcode.com/problems/zigzag-conversion/

[2020-10-05 10:25] Shreyash0713 commented on #311
Can you please assign it to me.

[2020-10-05 11:45] Shreyash0713 commented on #311
Resolved, please accept and merge PR #312

[2020-10-05 14:14] Hackerbone opened #313 "Maskify the String"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes a string, transforms all but the last four characters into "#" and returns the new masked string.

Examples:
_maskify("4556364607935616") ➞ "############5616"_
_maskify("64607935616") ➞ "#######5616"_
_maskify("1") ➞ "1"_
_maskify("") ➞ ""_

**Probelm Link** :  https://edabit.com/challenge/2MAr9P

[2020-10-05 14:15] Hackerbone commented on #313
Please assign me this task. @aayushi-droid

[2020-10-05 14:31] mayankgoyal-13 commented on #310
Can I do this using Python?

[2020-10-05 14:46] shivangigoel1302 commented on #310
Can you assign this to me?
I would like to do this in C++

[2020-10-05 14:47] shivangigoel1302 commented on #229
Can you assign this to me? I would like to do it in c++

[2020-10-05 14:48] shivangigoel1302 commented on #313
Can you assign this to me? I would like to do it in C++

[2020-10-05 14:51] adisrivastava121 commented on #310
Can you assign this to me? This is my First attempt for Open source. I want to develop it using c++.

[2020-10-05 14:55] Hackerbone commented on #313
@aayushi-droid sent a PR , pls merge

[2020-10-05 15:46] abdzitter opened #317 "Here, I have made some corrections in spelling mistakes."
Before jumping into Pr first comment for assign.

**Problem statement** :
**Problem Link** :
**Choose one Category** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [x] fileName format should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Choose label for Problem , example- "good first issue", "easy"
-

[2020-10-05 18:14] Mrsterius commented on #317
Please assign this issue to me. This would be my first issue.
I will solve it using C++.

[2020-10-05 18:15] Aakansha99 opened #320 "Bitwise Operations"
Before jumping into Pr first comment for assign.

**Problem statement** :Bitwise Operations
**Probelm Link** : https://edabit.com/challenge/vvuAkYEAArrZvmp6X
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : easy

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
-

[2020-10-05 19:06] MayankAg20 commented on #320
Could you please assign this issue to me? I am willing to do this task.

[2020-10-05 22:00] shubhamnag14 commented on #320
could please assign this issue to me.

[2020-10-05 22:11] shubhamnag14 commented on #317
assign me this PR..i will solve it using c+++

[2020-10-06 02:39] #75 closed

[2020-10-06 02:40] #77 closed

[2020-10-06 02:40] #76 closed

[2020-10-06 09:55] Nusratillo777 opened #328 "Sliding Sum"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns the subarrays of n consecutive elements from the original element that sum up to k. The function will have the following form: slidingSum(arr, n, k)
**Probelm Link** : https://edabit.com/challenge/SkJoSKw9i3GQf62k5
**Choose one Cateorgy** - Hard
**question category** : arrays, language fundamen

[2020-10-06 09:55] Nusratillo777 commented on #328
please assign me

[2020-10-06 11:19] chiillax commented on #328
Could you please assign me for this task ?

[2020-10-06 11:20] chiillax commented on #296
Could you please assign me for this task ?

[2020-10-06 11:21] chiillax commented on #275
Could you please assign me for this task ?

[2020-10-06 11:21] chiillax commented on #255
Could you please assign me for this task ?

[2020-10-06 11:21] chiillax commented on #226
Could you please assign me for this task ?

[2020-10-06 11:21] chiillax commented on #225
Could you please assign me for this task ?

[2020-10-06 11:21] chiillax commented on #223
Could you please assign me for this task ?

[2020-10-06 11:57] rahulmishra11 commented on #328
Please assign this task to me.

[2020-10-06 14:54] rgarg-2711 commented on #320
i want to work on this issue. can u assign it to me.

[2020-10-06 14:56] rgarg-2711 commented on #252
i want to work on this issue. can u assign it to me plz.

[2020-10-06 14:58] rgarg-2711 commented on #275
can u assign this issue to me plz.

[2020-10-06 14:59] rgarg-2711 commented on #296
can u plzz assign this issue to me.

[2020-10-06 16:03] kirti-k commented on #320
please assign me this issue.

[2020-10-06 17:51] pranavgoel29 commented on #278
@aayushi-droid Please assign it to me.

[2020-10-06 18:16] AshwinKul28 commented on #328
Hello, could you please assign this task to me?

[2020-10-06 18:59] ghost commented on #328
I would love to complete this task. Please assign this to me.
Thanks!

[2020-10-06 19:36] divyanayal commented on #310
Please assign me this task.

[2020-10-06 19:41] ghost commented on #275
Please assign this to me.

[2020-10-07 08:45] ishitakeshawani commented on #248
@aayushi-droid can you please add label of hacktoberfest and CPP in this issue.

[2020-10-07 14:15] kriti45 commented on #328
Hey! I would love to work on this issue, can you please assign this to me?
Thanks!

[2020-10-07 17:10] Zaidtech commented on #252
@gh4abhi , can i work on this issue?

[2020-10-07 17:12] Zaidtech commented on #275
@BananaMoshpit  can i work on this issue!!

[2020-10-07 23:57] reginaEmyk commented on #275
@Zaidtech it's not me who owns the rep, I think you'd be assigned after submitting a pull request linked to an issue that you (may) open.

But there's already a fibonacci function added so there's no use adding another

[2020-10-07 23:57] #275 closed

[2020-10-08 07:24] #272 closed

[2020-10-08 07:27] #274 closed

[2020-10-08 07:29] #289 closed

[2020-10-08 07:29] #296 closed

[2020-10-08 07:32] aayushi-droid opened #334 "convert age to days"
Before jumping into Pr first comment for assign.

**Problem statement** : convert age to days
**Probelm Link** : https://edabit.com/challenge/bL7hSc6Zh4zZJzGmw
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :

---
Before submitting a PR please Check some details.

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [

[2020-10-08 07:33] aayushi-droid commented on #334
@rgarg-2711 issue assigned

[2020-10-08 08:38] rgarg-2711 commented on #334
thank you @aayushi-droid for assign me this.

[2020-10-08 11:58] khushi-gupta commented on #234
I have completed this task. Kindly check.

[2020-10-08 13:54] psymbio commented on #334
function calcAge(age) {
	return age * 365;
}

One line of code is an issue?

[2020-10-08 17:04] jatinAgarwala opened #337 "Hex to Binary"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that will take a HEX number and returns the binary equivalent (as a string).
**Probelm Link** : https://edabit.com/challenge/NX5uRSLwuXwsqKfiR
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Hard

---
Before submitting a PR please Check some details.

[2020-10-08 17:04] jatinAgarwala commented on #337
Please assign this to me.

[2020-10-08 17:11] jatinAgarwala opened #338 "Product of Digits of Sum"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that takes numbers as arguments, adds them together, and returns the product of digits until the answer is only 1 digit long.
**Probelm Link** : https://edabit.com/challenge/Kzmyf4pLx66ZRsnWk
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** : Very Hard

---
Be

[2020-10-08 17:11] jatinAgarwala commented on #338
Please assign this to me.

[2020-10-08 17:21] jatinAgarwala opened #339 "Persistence"
Before jumping into Pr first comment for assign.

**Problem statement** : The additive persistence of an integer, n, is the number of times you have to replace n with the sum of its digits until n becomes a single digit integer.

The multiplicative persistence of an integer, n, is the number of times you have to replace n with the product of its digits until n becomes a single digit integer.

Crea

[2020-10-08 17:22] jatinAgarwala commented on #339
Please assign this to me.

[2020-10-09 01:47] #252 closed

[2020-10-10 19:38] Jainchhavi16 opened #342 "Super Egg Drop problem"
Before jumping into Pr first comment for assign.

**Problem statement** :You are given K eggs, and you have access to a building with N floors from 1 to N.
Each egg is identical in function, and if an egg breaks, you cannot drop it again.
You know that there exists a floor F with 0 <= F <= N such that any egg dropped at a floor higher than F will break, and any egg dropped at or below floor F will

[2020-10-10 19:39] Jainchhavi16 commented on #342
I would like to work on this issue I have created . Please assign it to me. Thanks in advance

[2020-10-10 19:58] Jainchhavi16 commented on #342
I have created a pr too. Please look into it.
Thanks

[2020-10-11 10:11] #342 closed

[2020-10-11 10:45] aayushi-droid commented on #49
#97 issue merged

[2020-10-11 10:45] #49 closed

[2020-10-11 10:50] #50 closed

[2020-10-11 10:53] aayushi-droid commented on #156
@amreenabbas Are you working on this issue?

[2020-10-11 11:00] #317 closed

[2020-10-11 11:02] #278 closed

[2020-10-11 11:06] aayushi-droid commented on #334
Great things are not done by impulse, but by a series of small things brought together.
@psymbio
It's a repo for encourage new developers to contribute to open-source. Issue is small or big. Doesn't matter.

[2020-10-11 11:06] #334 closed

[2020-10-11 11:08] #248 closed

[2020-10-11 11:09] #234 closed

[2020-10-11 11:10] #147 closed

[2020-10-11 18:48] Jainchhavi16 opened #344 "Catalan Number Series/ Number of unique bst"
Before jumping into Pr first comment for assign.

**Problem statement** :Catalan series is less known by name but this number series is used to solve many important questions like ,Given n, how many structurally unique BST's (binary search trees) that store values 1 to n?
**Probelm Link** : https://leetcode.com/problems/unique-binary-search-trees/
**Choose one Cateorgy** - Medium

---
Before submi

[2020-10-11 18:49] Jainchhavi16 commented on #344
I would like to work on this issue I have created .  Its a good question.
Please assign it to me.
Thanks in advance

[2020-10-11 19:05] Jainchhavi16 commented on #344
I have created a PR too. Please look into it.
Thanks

[2020-10-11 20:01] ankitsri1998 commented on #344
Sir please Assign this to me , i can resolve it.
thank you

[2020-10-11 20:06] Jainchhavi16 commented on #344
@ankitsri1998 I have already created a pr, I request you to find other.

[2020-10-12 06:13] ByteCode-Test commented on #344
plz tell me that can i raise an issue and solve it myself  is it possible as u did it ??

[2020-10-12 20:23] #145 closed

[2020-10-12 20:24] #179 closed

[2020-10-12 20:26] #344 closed

[2020-10-12 20:29] #138 closed

[2020-10-12 20:32] #201 closed

[2020-10-12 20:35] #104 closed

[2020-10-13 17:59] #243 closed

[2020-10-13 18:01] #311 closed

[2020-10-14 16:12] #156 closed

[2020-10-14 16:14] #129 closed

[2020-10-14 16:24] #73 closed

[2020-10-15 07:52] #313 closed

[2020-10-15 07:54] #337 closed

[2020-10-17 05:37] Hitesh18082001 opened #351 "bitwise operations"
Before jumping into Pr first comment for assign.

Problem statement :write a program to print the result of bitwise operations(AND,OR,XOR) on the given two numbers.
Probelm Link : https://edabit.com/challenge/qA5aT6XYfafH3NwcX
Choose one Cateorgy - Very Easy, Easy, Medium, Hard, Very Hard, Expert
question category*:EASY

---
Before submitting a PR please Check some details.

- [ ] fileName formet

[2020-10-17 05:37] Hitesh18082001 commented on #351
Please assign this issue to me!!
Thanks

[2020-10-19 08:14] nssk1999 opened #356 "Even or Odd Number of Factors"
Before jumping into Pr first comment for assign.

**Problem statement** : Create a function that returns "even" if a number has an even number of factors and "odd" if a number has an odd number of factors.
**Probelm Link** : https://edabit.com/challenge/zaHon4mMJJorEhBXx
**Choose one Cateorgy** - Very Easy, Easy, Medium, Hard, Very Hard, Expert
**question category** :  Easy

---
Before submitting

[2020-10-19 08:14] nssk1999 commented on #356
Please Assign the Issue made to me.

[2020-10-19 09:02] #244 closed

[2020-10-19 09:05] #338 closed

[2020-10-19 11:00] #339 closed

[2020-10-19 11:01] #231 closed

[2020-10-19 11:02] #328 closed

[2020-10-19 11:03] aayushi-droid commented on #351
Duplicate of #320

[2020-10-19 11:03] #351 closed

[2020-10-19 11:04] #225 closed

[2020-10-19 11:37] #223 closed

[2020-10-19 11:38] #10 closed

[2020-10-19 11:38] #11 closed

[2020-10-19 11:38] #17 closed

[2020-10-19 11:38] #22 closed

[2020-10-19 11:38] #69 closed

[2020-10-19 11:38] #71 closed

[2020-10-19 11:38] #72 closed

[2020-10-19 11:38] #78 closed

[2020-10-19 11:38] #126 closed

[2020-10-19 11:38] #131 closed

[2020-10-19 11:38] #141 closed

[2020-10-19 11:38] #181 closed

[2020-10-19 11:38] #187 closed

[2020-10-19 11:38] #189 closed

[2020-10-19 11:38] #190 closed

[2020-10-19 11:38] #215 closed

[2020-10-19 11:38] #226 closed

[2020-10-19 11:38] #227 closed

[2020-10-19 11:38] #229 closed

[2020-10-19 11:38] #255 closed

[2020-10-19 11:38] #299 closed

[2020-10-19 11:38] #310 closed

[2020-10-19 11:38] #320 closed

[2020-10-19 11:39] #3 closed

[2020-10-19 11:39] #7 closed

[2020-10-19 11:39] #8 closed

[2020-10-19 11:39] #9 closed

[2020-10-19 13:41] subramanian0 commented on #3
@aayushi-droid  : I was assigned this but the code was already added to the repo.

[2020-10-20 15:16] Nusratillo777 opened #363 "Atbash Cipher"
Before jumping into Pr first comment for assign.

**Problem statement** : The Atbash cipher is an encryption method in which each letter of a word is replaced with its "mirror" letter in the alphabet: A <=> Z; B <=> Y; C <=> X; etc.

Create a function that takes a string and applies the Atbash cipher to it.
**Probelm Link** : https://edabit.com/challenge/977xgdi57bp23ibz5
**Choose one Cateorgy** -

[2020-10-20 15:16] Nusratillo777 commented on #363
Please assign me.

[2020-10-20 19:29] #356 closed

[2020-10-22 09:57] Nusratillo777 commented on #363
Could you assign me? @aayushi-droid

[2020-10-25 03:38] #363 closed

[2021-02-01 13:07] Taher232 commented on #147
ok

[2021-02-01 13:15] Taher232 commented on #147
ok